app/haml/sections/our-team.haml
%section#our-team.block
  %header
    %span Наша команда
    %h2 Мы успешно сочетаем опыт и талант наших специалистов с идеальной командной работой, у нас один плюс один всегда больше двух. 
  .team-wrapper
    -# Илья Немов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "ilya-nemov", :name => "Илья Немов" , :position => "Директор по производству")
    
    -# Кирилл Цыганюк
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "kirill-tsyganyk", :name => "Кирилл Цыганюк" , :position => "Арт-директор")
    
    -# Андрей Губанов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "andrew-gubanov", :name => "Андрей Губанов" , :position => "Дизайнер")
    
    -# Александр Силантьев
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "alexander-sylantiev", :name => "Александр Силантьев" , :position => "Видеограф")

    -# Игорь Романов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "igor-romanov", :name => "Игорь Романов" , :position => "Технический директор")

    -# Сароар Кхандокер
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "saroar-khandoker", :name => "Сароар Кхандокер" , :position => "Backend разработчик")

    -# Дарья Румянцева
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "daria-ruymantseva", :name => "Дарья Румянцева" , :position => "Директор по развитию")

    -# Владимир Ерышев
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "vladimir-erishiv", :name => "Владимир Ерышев" , :position => "iOS разработчик")

    -# Илья Бураков
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "ilya-burakov", :name => "Илья Бураков" , :position => "Креативный директор")
    
    -# Денис Кабанов
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "denis-kabanov", :name => "Денис Кабанов" , :position => "Аккаунт-директор")

    -# Филипп Дитрих
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "philip-ditrih", :name => "Филипп Дитрих" , :position => "Генеральный директор")
    
    -# Дмитрий Старчевский
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "dmitrii-starchevskii", :name => "Дмитрий Старчевский" , :position => "Android разработчик")

    -# Максим Борисюк
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "maxim-borysyuk", :name => "Максим Борисюк" , :position => "Интернет-маркетолог")

    -# Илья Погребенко
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "no-photo", :name => "Илья Погребенко" , :position => "Android разработчик")
    
    -# Михаил Яковлев
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "no-photo", :name => "Михаил Яковлев" , :position => "Fullstack разработчик")
    
    -# Екатерина Тарасова
    = Haml::Engine.new(File.read('app/haml/_ui/_teammate-preview.haml')).render(Object.new, :photo => "no-photo", :name => "Екатерина Тарасова" , :position => "Финансовый директор")

app/sections/our-team.html
<section class='block' id='our-team'>
  <header>
    <span>Наша команда</span>
    <h2>Мы успешно сочетаем опыт и талант наших специалистов с идеальной командной работой, у нас один плюс один всегда больше двух.</h2>
  </header>
  <div class='team-wrapper'>
    <figure>
      <img src='images/about/team/ilya-nemov.jpg'>
      <figcaption>
        <h4>Илья Немов</h4>
        <p>Директор по производству</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/kirill-tsyganyk.jpg'>
      <figcaption>
        <h4>Кирилл Цыганюк</h4>
        <p>Арт-директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/andrew-gubanov.jpg'>
      <figcaption>
        <h4>Андрей Губанов</h4>
        <p>Дизайнер</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/alexander-sylantiev.jpg'>
      <figcaption>
        <h4>Александр Силантьев</h4>
        <p>Видеограф</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/igor-romanov.jpg'>
      <figcaption>
        <h4>Игорь Романов</h4>
        <p>Технический директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/saroar-khandoker.jpg'>
      <figcaption>
        <h4>Сароар Кхандокер</h4>
        <p>Backend разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/daria-ruymantseva.jpg'>
      <figcaption>
        <h4>Дарья Румянцева</h4>
        <p>Директор по развитию</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/vladimir-erishiv.jpg'>
      <figcaption>
        <h4>Владимир Ерышев</h4>
        <p>iOS разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/ilya-burakov.jpg'>
      <figcaption>
        <h4>Илья Бураков</h4>
        <p>Креативный директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/denis-kabanov.jpg'>
      <figcaption>
        <h4>Денис Кабанов</h4>
        <p>Аккаунт-директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/philip-ditrih.jpg'>
      <figcaption>
        <h4>Филипп Дитрих</h4>
        <p>Генеральный директор</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/dmitrii-starchevskii.jpg'>
      <figcaption>
        <h4>Дмитрий Старчевский</h4>
        <p>Android разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/maxim-borysyuk.jpg'>
      <figcaption>
        <h4>Максим Борисюк</h4>
        <p>Интернет-маркетолог</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/no-photo.jpg'>
      <figcaption>
        <h4>Илья Погребенко</h4>
        <p>Android разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/no-photo.jpg'>
      <figcaption>
        <h4>Михаил Яковлев</h4>
        <p>Fullstack разработчик</p>
      </figcaption>
    </figure>
    <figure>
      <img src='images/about/team/no-photo.jpg'>
      <figcaption>
        <h4>Екатерина Тарасова</h4>
        <p>Финансовый директор</p>
      </figcaption>
    </figure>
  </div>
</section>
