app/haml/sections/our-clients.haml
%section#our-clients.block
  %header
    %span Наши клиенты
    %h2 Мы всегда рады сотрудничеству с компаниями и людьми, разделяющими наши ценности. Вместе с партнерами мы работаем над проектами в самых разных сфера. Нам&nbsp;интересны как крупные бренды, так и небольшие команды из России и зарубежных стран.
  .logos-wrapper
    %div
      %img{:alt => "Home Credit", :src => "images/clients/homecredit.svg"}
    %div
      %img{:alt => "Jaguar", :src => "images/clients/jaguar.svg"}
    %div
      %img{:alt => "Kinder", :src => "images/clients/kinder.svg"}
    %div
      %img{:alt => "LandRover", :src => "images/clients/landrover.svg"}
    %div
      %img.onetwotrip{:alt => "OneTwoTrip", :src => "images/clients/onetwotrip.svg"}
    %div
      %img{:alt => "Leroy Merlin", :src => "images/clients/leroymerlin.svg"}
    %div
      %img{:alt => "МТС", :src => "images/clients/vk.svg"}
    %div
      %img{:alt => "Сбербанк", :src => "images/clients/sberbank.svg"}
    %div
      %img{:alt => "The Macallan", :src => "images/clients/macallan.svg"}
    %div
      %img{:alt => "Cupli Surveys", :src => "images/clients/cupli.svg"}
    %div
      %img{:alt => "Unique Hookah Places", :src => "images/clients/uhp.svg"}
    %div
      %img.onetwotrip_logo{:alt => "Alpha Apps", :src => "images/clients/alphaapps.svg"}

app/sections/our-clients.html
<section class='block' id='our-clients'>
  <header>
    <span>Наши клиенты</span>
    <h2>Мы всегда рады сотрудничеству с компаниями и людьми, разделяющими наши ценности. Вместе с партнерами мы работаем над проектами в самых разных сфера. Нам&nbsp;интересны как крупные бренды, так и небольшие команды из России и зарубежных стран.</h2>
  </header>
  <div class='logos-wrapper'>
    <div>
      <img alt='Home Credit' src='images/clients/homecredit.svg'>
    </div>
    <div>
      <img alt='Jaguar' src='images/clients/jaguar.svg'>
    </div>
    <div>
      <img alt='Kinder' src='images/clients/kinder.svg'>
    </div>
    <div>
      <img alt='LandRover' src='images/clients/landrover.svg'>
    </div>
    <div>
      <img alt='OneTwoTrip' class='onetwotrip' src='images/clients/onetwotrip.svg'>
    </div>
    <div>
      <img alt='Leroy Merlin' src='images/clients/leroymerlin.svg'>
    </div>
    <div>
      <img alt='МТС' src='images/clients/vk.svg'>
    </div>
    <div>
      <img alt='Сбербанк' src='images/clients/sberbank.svg'>
    </div>
    <div>
      <img alt='The Macallan' src='images/clients/macallan.svg'>
    </div>
    <div>
      <img alt='Cupli Surveys' src='images/clients/cupli.svg'>
    </div>
    <div>
      <img alt='Unique Hookah Places' src='images/clients/uhp.svg'>
    </div>
    <div>
      <img alt='Alpha Apps' class='onetwotrip_logo' src='images/clients/alphaapps.svg'>
    </div>
  </div>
</section>
