app/cases/home-credit.html
<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>OZ INTERACTIVE</title>
    <title>OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка</title>
    <meta content='Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах.' name='description'>
    <meta content='OZ INTERACTIVE' name='author'>
    <link href='/images/favicon.png' rel='icon' type='image/png'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='width=device-width, user-scalable=no' name='viewport'>
    <link href='/css/main.css' rel='stylesheet'>
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    <script src='/js/video.js'></script>
  </head>
  <body class='case-inner-page'>
    <section id='preloader'>
      <div class='oz_wrapper'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
      </div>
    </section>
    <section class='form_bg' id='popup_contact'>
      <div class='popup_cross'>
        <img alt='Закрыть' src='images/cross.svg'>
      </div>
      <form class='form'>
        <fieldset class='form'>
          <legend class='form'>Контактные данные</legend>
          <!-- <input type="text" name="theme"> Было бы неплохо сделать дропдаун с темами -->
          <input class='form' name='email' placeholder='*Email' required='' type='email'>
          <input class='form' name='name' placeholder='Имя' required='' type='text'>
          <input class='form' name='company' placeholder='Компания' type='text'>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Тема письма</legend>
          <textarea class='form' name='description' placeholder='*Краткое описание задачи' required=''></textarea>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Прикрепить файл</legend>
          <label class='uploadbutton form'>
            <div class='button upload_file form' id='upload_btn'>
              <input id='upload_file' name='file' type='file'>
              <span id='name_file'>Файл не выбран</span>
            </div>
          </label>
        </fieldset>
        <button class='button form' name='sumbit'>
          <small></small>
        </button>
      </form>
    </section>
    <header class='page-header' id='header'>
      <a href='/index.html'>
        <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
      </a>
      <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
      <nav>
        <div class='links-wrapper'>
          <a href='/'>Главная</a>
          <a href='/about.html'>О компании</a>
          <a href='/services.html'>Услуги</a>
          <a href='/cases.html'>Кейсы</a>
          <a href='/wip.html'>Блог</a>
          <a href='/contacts.html'>Контакты</a>
        </div>
      </nav>
      <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
      </img>
    </header>
    <main id='main-content'>
      <section class='block' id='about-case'>
        <img alt='Alcomath' src='/images/cases/alcomath/alcomath_logo.png'>
        <h1>Home credit</h1>
        <div class='info-wrapper'>
          <p>Client: <РЫБА></p>
          <p>Service: <РЫБА></p>
          <p>Team: <РЫБА>, <РЫБА></p>
        </div>
        <p><РЫБА> Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями и искать единомышленников.</p>
        <div class='social-buttons'>
          <div class='social-button'>
            <div class='fb-share-button' data-href='https://dribbble.com/' data-layout='button_count' data-mobile-iframe='false' data-size='large'>
              <a class='fb-xfbml-parse-ignore' href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdribbble.com%2F&amp;src=sdkpreparse' target='_blank'></a>
            </div>
          </div>
          <div class='social-button'>
            <a class='twitter-share-button' data-size='large' href='https://twitter.com/intent/tweet?text=Hello%20world'>Tweet</a>
          </div>
        </div>
      </section>
    </main>
    <section class='block case-block'>
      <header>
        <h4>О проекте</h4>
        <p>Технологии стали неотъемлемой частью общественной жизни, в особенности мобильные приложения, которые делают вещи вокруг нас комфортнее, работу -- эффективнее, общение -- доступнее. Однако, в крупных компаниях процесс внедрения последних технологий сопряжен с колоссальными временными затратами. Изменение инфраструктуры, технологического процесса и организации в таком крупном масштабе крайне затруднительно, а иногда и невозможно, поэтому даже частичное использование новейших технологий можно считать значительным достижением в области внедрения инноваций.</p>
      </header>
      <h4><SLIDER></h4>
    </section>
    <section class='block case-block text'>
      <header>
        <h4>О проекте</h4>
        <p>В повседневной работе сотрудникам Home Credit приходится решать множество как разноплановых, так и повторяющихся задач, успешное выполнение которых во многом зависит от грамотного и рационального планирования стратегии их решения.</p>
        <br>
        <p>Удержание лидирующих позиций на рынке банковских услуг требует постоянной работы над улучшением качества оказываемых клиентам услуг. Для этого Home Credit на ежедневной основе осуществляет аудит собственных торговых точек, что позволяет своевременно выявлять требующие особого внимания участки и предпринимать меры по повышению уровня клиентского сервиса в каждой точке.</p>
      </header>
      <div class='scheme-wrapper hc'>
        <figure>
          <p>Проблема 1</p>
          <p>Описание проблемы</p>
        </figure>
        <div class='placeholder'></div>
        <figure>
          <p>Проблема 2</p>
          <p>Описание важной проблемы</p>
        </figure>
        <div class='placeholder'></div>
        <figure>
          <p>Проблема 3</p>
          <p>Описание очень важной проблемы</p>
        </figure>
      </div>
    </section>
    <section class='block case-block text'>
      <header>
        <h4>Пользовательские сценарии</h4>
        <h5>Выполнение задачи</h5>
      </header>
      <div class='scheme-wrapper hc'>
        <figure>
          <p>Получение</p>
          <p>Новая задача</p>
        </figure>
        <div class='arrows-wrapper'>
          <div class='arrow'></div>
        </div>
        <figure>
          <p>Выполнение</p>
          <p>Проверка места</p>
        </figure>
        <div class='arrows-wrapper'>
          <div class='arrow'></div>
        </div>
        <figure>
          <p>Завершение</p>
          <p>Задача выполнена</p>
        </figure>
      </div>
      <header>
        <h5>Выполнение задачи</h5>
      </header>
      <div class='scheme-wrapper hc'>
        <figure>
          <p>Оформление</p>
          <p>Новая задача</p>
        </figure>
        <div class='arrows-wrapper'>
          <div class='arrow'></div>
        </div>
        <figure>
          <p>Назначение</p>
          <p>Проверка места</p>
        </figure>
        <div class='arrows-wrapper'>
          <div class='arrow'></div>
        </div>
        <figure>
          <p>Отслеживание</p>
          <p>Проверка задачи</p>
        </figure>
      </div>
      <section class='block case-block-end'>
        <section class='case-block-prev'>
          <div class='arrow-wrapper'>
            <img src='/images/arrow-left.svg'>
            <img src='#'>
            <header>
              <h2 class='uppercase'>Home credit</h2>
              <p>Предыдущий кейс</p>
            </header>
          </div>
        </section>
        <section class='case-block-next'>
          <div class='arrow-wrapper'>
            <header>
              <h2 class='uppercase'>Mystery Dream</h2>
              <p>Следующий кейс</p>
            </header>
            <img src='/images/arrow-right.svg'>
            <img src='/images/cases/mystery-dream/mystery-dream-preview.png'>
          </div>
        </section>
      </section>
      <!-- -# WIP -->
      <!-- -# #################################### -->
      <!-- %section#wip-block.block -->
      <!-- -# Контент -->
      <!-- %header -->
      <!-- %img.icon-gear{:src => "/images/gear.svg"} -->
      <!-- %h1 Страница<br>в разработке -->
      <footer id='footer'>
        <span class='copyright'>
          <p>© 2016 OZ INTERACTIVE. САНКТ-ПЕТЕРБУРГ, 8-Я ЛИНИЯ Д. 29 В.О., ОФИС 51.</p>
        </span>
      </footer>
    </section>
  </body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
  <script src='/js/preloader.js'></script>
  <script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
  <script src='/js/video.js'></script>
  <script src='/js/settings.js'></script>
</html>

app/haml/cases/home-credit.haml
!!!
%html(lang="ru")
  
  -# Head
  -# ####################################
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    %script(src="/js/video.js")
  
  -# Body
  -# ####################################
  %body.case-inner-page
    
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    
    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    -# ####################################
    %main#main-content
      %section.block#about-case
        %img{:alt => "Alcomath", :src =>"/images/cases/alcomath/alcomath_logo.png"}
        %h1 Home credit
        .info-wrapper
          %p Client: <РЫБА>
          %p Service: <РЫБА>
          %p Team: <РЫБА>, <РЫБА>
        %p <РЫБА> Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями и искать единомышленников.
        .social-buttons
          .social-button
            .fb-share-button{"data-href" => "https://dribbble.com/", "data-layout" => "button_count", "data-mobile-iframe" => "false", "data-size" => "large"}
              %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdribbble.com%2F&src=sdkpreparse", :target => "_blank"}
          .social-button
            %a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/intent/tweet?text=Hello%20world"} Tweet


    
    -# Intro
    -# ####################################
    %section.block.case-block
      %header
        %h4 О проекте
        %p Технологии стали неотъемлемой частью общественной жизни, в особенности мобильные приложения, которые делают вещи вокруг нас комфортнее, работу -- эффективнее, общение -- доступнее. Однако, в крупных компаниях процесс внедрения последних технологий сопряжен с колоссальными временными затратами. Изменение инфраструктуры, технологического процесса и организации в таком крупном масштабе крайне затруднительно, а иногда и невозможно, поэтому даже частичное использование новейших технологий можно считать значительным достижением в области внедрения инноваций.
      %h4 <SLIDER>


    -# Problem
    -# ################################
    %section.block.case-block.text
      %header
        %h4 О проекте
        %p В повседневной работе сотрудникам Home Credit приходится решать множество как разноплановых, так и повторяющихся задач, успешное выполнение которых во многом зависит от грамотного и рационального планирования стратегии их решения. 
        %br
        %p Удержание лидирующих позиций на рынке банковских услуг требует постоянной работы над улучшением качества оказываемых клиентам услуг. Для этого Home Credit на ежедневной основе осуществляет аудит собственных торговых точек, что позволяет своевременно выявлять требующие особого внимания участки и предпринимать меры по повышению уровня клиентского сервиса в каждой точке.
      .scheme-wrapper.hc
        %figure
          %p Проблема 1
          %p Описание проблемы
        .placeholder
        %figure
          %p Проблема 2
          %p Описание важной проблемы
        .placeholder
        %figure
          %p Проблема 3
          %p Описание очень важной проблемы

    -# User scenario
    -############################
    %section.block.case-block.text
      %header
        %h4 Пользовательские сценарии
        %h5 Выполнение задачи
      .scheme-wrapper.hc
        %figure
          %p Получение
          %p Новая задача
        .arrows-wrapper
          .arrow
        %figure
          %p Выполнение
          %p Проверка места
        .arrows-wrapper
          .arrow
        %figure
          %p Завершение
          %p Задача выполнена
      %header
        %h5 Выполнение задачи
      .scheme-wrapper.hc
        %figure
          %p Оформление
          %p Новая задача
        .arrows-wrapper
          .arrow
        %figure
          %p Назначение
          %p Проверка места
        .arrows-wrapper
          .arrow
        %figure
          %p Отслеживание
          %p Проверка задачи




   

      -# Предыдущий кейс/Следующий кейс
      %section.block.case-block-end
        -# Предыдущей кейс
        %section.case-block-prev
          .arrow-wrapper
            %img{:src => "/images/arrow-left.svg"}
            %img{:src => "#"}
            %header
              %h2.uppercase Home credit
              %p Предыдущий кейс
        -# Следующий кейс
        %section.case-block-next
          .arrow-wrapper
            %header
              %h2.uppercase Mystery Dream
              %p Следующий кейс
            %img{:src => "/images/arrow-right.svg"}
            %img{:src => "/images/cases/mystery-dream/mystery-dream-preview.png"}



      
      / -# WIP
      / -# #################################### 
      / %section#wip-block.block
      /   -# Контент
      /   %header
      /     %img.icon-gear{:src => "/images/gear.svg"}
      /     %h1 Страница<br>в разработке

      -# Футер
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  -# ####################################
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
