app/haml/cases/streetcar.haml
!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
  %body.case-inner-page
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render

    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render

    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    %main#main-content
      %section#about-case.block
        %header
          %img{:alt => "Street Car", :src => "/images/cases/streetcar/streetcar_logo.svg"}/
          %h1 Street Car
          .info-wrapper
            %p Клиент: Street Car
            %p Услуга: Full-service development
            %p Команда: Илья&nbsp;Бураков, Денис&nbsp;Кабанов, Кирилл&nbsp;Цыганюк
          %p Мобильное приложение для первого в России каршеринг-сервиса. Участники клуба могут найти ближайший автомобиль и забронировать его; составить расписание поездок на день, неделю или месяц. Реализован поиск ближайших свободных автомобилей и полное управление своим бронированием через приложение.
          -#.social-buttons
            -#.social-button
              -#.fb-share-button{"data-href" => "https://dribbble.com/", "data-layout" => "button_count", "data-mobile-iframe" => "false", "data-size" => "large"}
                -#%a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdribbble.com%2F&src=sdkpreparse", :target => "_blank"}
            -#.social-button
              -#%a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/intent/tweet?text=Hello%20world"} Tweet
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "streetcar")


      -# О сервисе
      -#################################
      %section.block.case-block.text
        %header
          %h4 О сервисе
          %p Первый в Санкт-Петербурге каршеринговый клуб. Участники получают доступ к системе автоматизированного проката автомобилей, расположенных на круглосуточно доступных парковках по всей территории города. Нашей задачей было разработать дизайн мобильного приложения.
          %br
          %p В России многие называют каршерингом сервисы краткосрочной аренды автомобиля. Пользователь берет автомобиль в одном месте и оставляет его в пункте своего назначения. Такие проекты стремятся стать комфортной альтернативой общественному транспорту, но по сути конкурируют с такси, чьи услуги обходятся дешевле и с меньшим риском (пользователь не управляет автомобилем).
          %br
          %p STREETCAR отличается клубной структурой. Сервис призван заменить личный транспорт: машины расположены по всему городу и находятся в пешей доступности. Клиенты берут авто практически во дворе и возвращают на исходную позицию (как это было бы при пользовании собственным авто). За счет этого компания снижает издержки, возникающие из-за неравномерного распределения автомобилей по городу и обеспечивает доступ к машинам для всех желающих. А главное, именно эта модель воплощает в себе суть каршеринга — совместное использование автомобиля.
        .image-grid-wrapper
          %img{:src => "/images/cases/streetcar/About/1.png"}
          %img.image-big{:src => "/images/cases/streetcar/About/25.png"}
          %img{:src => "/images/cases/streetcar/About/2.png"}
          %img{:src => "/images/cases/streetcar/About/3.png"}
          %img{:src => "/images/cases/streetcar/About/4.png"}

      -# Проектирование
      -#####################################
      %section.block.case-block
        %header
          %h4 Проектирование
          %p Мы изучили существующий процесс бронирования автомобиля как со стороны клиента, так и со стороны менеджера компании, разобрались в логике работы системы бронирования, чтобы понимать все возможности и ограничения. Собрав необходимую информацию мы сформировали основные сценарии и use flow.
      .image-wrapper
        %img{:src => "/images/cases/streetcar/streetcar-flow.png"}
        -# Заглушка для видео
        / %video.video-bg{:autoplay => "autoplay", :loop => "loop", :muted => "muted"}
        /     %source{:src => "##########"}


      -# Подбор автомобиля
      -############################
      %section.block.case-block
        %header
          %h4 Подбор автомобиля
          %p Постоянный клиент может забронировать авто в три касания. По умолчанию приложение предлагает пользователю ближайший свободный автомобиль. Подобрать машину можно из списка, либо с помощью карты. Реализована возможность фильтрации по районам города, типу автомобиля, стоимости часа. При желании пользователь может спланировать расписание своих поездок на неделю вперед.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/1.png"}
            %figcaption
              %h5 01. Экран выбора авто
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/2.png"}
            %figcaption
              %h5 02. Машины на карте
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/3.png"}
            %figcaption
              %h5 03. Бронирование авто
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/4.png"}
            %figcaption
              %h5 04. Подтверждение

      -# Управление бронированием
      -#######################
      %section.block.case-block
        %header
          %h4 Управление бронированием
          %p После подтверждения брони, пользователь может посмотреть местоположения авто на карте и проложить маршрут до него, если это необходимо. Чтобы открыть машину не нужно иметь при себе ключи или клубную карту — достаточно нажать кнопку в мобильном приложении. Существует возможность отменить активное бронирование или изменить время.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/5.png"}
            %figcaption
              %h5 05. Экран бронирования
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/6.png"}
            %figcaption
              %h5 06. Построить маршрут
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/7.png"}
            %figcaption
              %h5 07. Экран поездки
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/8.png"}
            %figcaption
              %h5 08. Поездка завершена


      -# Промокоды
      -#######################
      %section.block.case-block
        %header
          %h4 Промокоды
          %p Для более активного привлечения новых клиентов была разработана система промокодов, которыми пользователи делились со своими друзьями и знакомыми. Промокод позволяет совершить одну бесплатную поездку. Промоутеры компании раздавали брошюры с промокодами на различных мероприятиях и в местах скопления людей. Помимо этого компания дарила промокоды за совершение определенных действий в рамках ко-брендовых рекламных кампаний.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/13.png"}
            %figcaption
              %h5 09. Получение промокода
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/14.png"}
            %figcaption
              %h5 10. Введение промокода
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/15.png"}
            %figcaption
              %h5 11. Промо от Citibank
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/16.png"}
            %figcaption
              %h5 12. Вступление в клуб

      -# Профиль пользователя
      -#######################
      %section.block.case-block
        %header
          %h4 Профиль пользователя
          %p На экране профиля пользователь видит общее количество километров, которое он проехал. Накопленные километры позволяют получать бесплатные поездки, а также другие бонусы от компании. Здесь же пользователь может составить расписание, если он пользуется автомобилем часто, привязать банковскую карту для оплаты и поменять настройки безопасности.

        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/9.png"}
            %figcaption
              %h5 12. Экран профиля
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/10.png"}
            %figcaption
              %h5 13. Экран расписания
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/11.png"}
            %figcaption
              %h5 14. Привязка карты
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/12.png"}
            %figcaption
              %h5 15. Безопасность

      -# Интеграция с metavera
      -#######################
      %section.block.case-block
        %header
          %h4 Интеграция с METAVERA
          %p Для управления системой бронирования, GPS трекинга и контроля доступа в автомобиль используется решение компании Metavera. В машинах установлены специальные устройства, подключенные к интернету. Через них осуществляется передача координат, а также статусов бронирования и данных о состоянии авто (пользователи отвечают на вопросы на устройстве перед поездкой).
          %br
          %p Перед нами стояла задача провести интеграцию с API. Мы скооперировались с командой сервиса, изучили документацию, провели внедрение и тестирование.
          %br
          %p Мы решили упростить процесс начала поездки для пользователей. В приложении мы реализовали возможность открыть машину без специальной карты, используя только мобильное приложение, так как серверная часть позволяла передавать ID клиента на устройство в автомобиле.

        .scheme-wrapper
          %figure
            %img{:src => "/images/cases/streetcar/Meta_1.png"}
            %figcaption Автомобиль
          .arrows-wrapper
            .arrow
          %figure
            %img{:src => "/images/cases/streetcar/Meta_2.png"}
            %figcaption Metavera
          .arrows-wrapper
            .arrow
          %figure
            %img{:src => "/images/cases/streetcar/Meta_3.png"}
            %figcaption API
          .arrows-wrapper
            .arrow
          %figure
            %img{:src => "/images/cases/streetcar/Meta_4.png"}
            %figcaption Приложение


      -# Развитие сервиса
      -#######################
      %section.block.case-block
        %header
          %h4 Развитие сервиса
          %p В настоящее время сервис недоступен для пользователей в связи с реструктуризацией. Компания столкнулась с большим количеством безответственных водителей, которые часто попадали в ДТП. Специфика бизнеса не позволяет страховать автомобили по КАСКО, так как стоимость поездки становится неконкурентоспособной.
          %br
          %p В настоящее время мы работаем над новой концепцией сервиса: внедряем телематику и геймификацию. Теперь приложение самостоятельно отслеживает скорость и координаты, а также сам характер езды с помощью акселлерометров и гироскопа. Участники клуба получают баллы и “уровни” в зависимости от своей аккуратности. Новичкам доступны лишь самые простые автомобили. При желании они могут взять авто классом выше, но с доплатой за предоставление страховки (КАСКО). По мере накопления баллов за аккуратную езду возможности выбора авто увеличиваются, предоставляются различные бонусы: отмена бронирования без штрафа, бесплатные километры и другое.


        .screen-wrapper
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/17.png"}
            %figcaption
              %h5 17. Выбор авто
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/18.png"}
            %figcaption
              %h5 18. Аренда авто
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/19.png"}
            %figcaption
              %h5 19. Профиль
          %figure
            .iphone-wrapper
              %img{:src => "/images/cases/streetcar/Screens/20.png"}
            %figcaption
              %h5 20. Приглашение



      -# Предыдущий кейс/Следующий кейс
      %section.block.case-block-end
        -# Предыдущей кейс
        %section.case-block-prev
          %a.cases-link{:href => "/cases/uhp.html"}
            .arrow-wrapper
              %img{:src => "/images/arrow-left.svg"}
              %img{:src => "/images/cases/uhp/uhp-preview.png"}
              %header
                %h2.uppercase Уникальные кальянные
                %p Предыдущий кейс

        -# Следующий кейс
        %section.case-block-next
          %a.cases-link{:href => "/cases/almwajaha.html"}
            .arrow-wrapper
              %header
                %h2.uppercase Almwajaha
                %p Следующий кейс
              %img{:src => "/images/arrow-right.svg"}
              %img{:src => "/images/cases/almwajaha/almwajaha-preview.png"}

      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render

app/cases/streetcar.html
<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>OZ INTERACTIVE</title>
    <title>OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка</title>
    <meta content='Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах.' name='description'>
    <meta content='OZ INTERACTIVE' name='author'>
    <link href='/images/favicon.png' rel='icon' type='image/png'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link href='/css/main.css' rel='stylesheet'>
  </head>
  <body class='case-inner-page'>
    <section id='preloader'>
      <div class='oz_wrapper'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
      </div>
    </section>
    <section class='form_bg' id='popup_contact'>
      <div class='popup_cross'>
        <img alt='Закрыть' src='images/cross.svg'>
      </div>
      <form class='form'>
        <fieldset class='form'>
          <legend class='form'>Контактные данные</legend>
          <!-- <input type="text" name="theme"> Было бы неплохо сделать дропдаун с темами -->
          <input class='form' name='email' placeholder='*Email' required='' type='email'>
          <input class='form' name='name' placeholder='Имя' required='' type='text'>
          <input class='form' name='company' placeholder='Компания' type='text'>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Тема письма</legend>
          <textarea class='form' name='description' placeholder='*Краткое описание задачи' required=''></textarea>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Прикрепить файл</legend>
          <label class='uploadbutton form'>
            <div class='button upload_file form' id='upload_btn'>
              <input id='upload_file' name='file' type='file'>
              <span id='name_file'>Файл не выбран</span>
            </div>
          </label>
        </fieldset>
        <button class='button form' name='sumbit'>
          <small></small>
        </button>
      </form>
    </section>
    <header class='page-header' id='header'>
      <a href='/index.html'>
        <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
      </a>
      <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
      <nav>
        <div class='links-wrapper'>
          <a href='/'>Главная</a>
          <a href='/about.html'>О компании</a>
          <a href='/services.html'>Услуги</a>
          <a href='/cases.html'>Кейсы</a>
          <a href='/wip.html'>Блог</a>
          <a href='/contacts.html'>Контакты</a>
        </div>
      </nav>
      <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
      </img>
    </header>
    <main id='main-content'>
      <section class='block' id='about-case'>
        <header>
          <img alt='Street Car' src='/images/cases/streetcar/streetcar_logo.svg'>
          <h1>Street Car</h1>
          <div class='info-wrapper'>
            <p>Клиент: Street Car</p>
            <p>Услуга: Full-service development</p>
            <p>Команда: Илья&nbsp;Бураков, Денис&nbsp;Кабанов, Кирилл&nbsp;Цыганюк</p>
          </div>
          <p>Мобильное приложение для первого в России каршеринг-сервиса. Участники клуба могут найти ближайший автомобиль и забронировать его; составить расписание поездок на день, неделю или месяц. Реализован поиск ближайших свободных автомобилей и полное управление своим бронированием через приложение.</p>
        </header>
        <div class='gradient-overlay'></div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='streetcar video-bg' loop='loop' muted='muted'>
            <source src='/videos/streetcar.mp4'>
          </video>
          <canvas class='streetcar-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.streetcar',
            canvasSelector: '.streetcar-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.streetcar-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </section>
      <section class='block case-block text'>
        <header>
          <h4>О сервисе</h4>
          <p>Первый в Санкт-Петербурге каршеринговый клуб. Участники получают доступ к системе автоматизированного проката автомобилей, расположенных на круглосуточно доступных парковках по всей территории города. Нашей задачей было разработать дизайн мобильного приложения.</p>
          <br>
          <p>В России многие называют каршерингом сервисы краткосрочной аренды автомобиля. Пользователь берет автомобиль в одном месте и оставляет его в пункте своего назначения. Такие проекты стремятся стать комфортной альтернативой общественному транспорту, но по сути конкурируют с такси, чьи услуги обходятся дешевле и с меньшим риском (пользователь не управляет автомобилем).</p>
          <br>
          <p>STREETCAR отличается клубной структурой. Сервис призван заменить личный транспорт: машины расположены по всему городу и находятся в пешей доступности. Клиенты берут авто практически во дворе и возвращают на исходную позицию (как это было бы при пользовании собственным авто). За счет этого компания снижает издержки, возникающие из-за неравномерного распределения автомобилей по городу и обеспечивает доступ к машинам для всех желающих. А главное, именно эта модель воплощает в себе суть каршеринга — совместное использование автомобиля.</p>
        </header>
        <div class='image-grid-wrapper'>
          <img src='/images/cases/streetcar/About/1.png'>
          <img class='image-big' src='/images/cases/streetcar/About/25.png'>
          <img src='/images/cases/streetcar/About/2.png'>
          <img src='/images/cases/streetcar/About/3.png'>
          <img src='/images/cases/streetcar/About/4.png'>
        </div>
      </section>
      <section class='block case-block'>
        <header>
          <h4>Проектирование</h4>
          <p>Мы изучили существующий процесс бронирования автомобиля как со стороны клиента, так и со стороны менеджера компании, разобрались в логике работы системы бронирования, чтобы понимать все возможности и ограничения. Собрав необходимую информацию мы сформировали основные сценарии и use flow.</p>
        </header>
      </section>
      <div class='image-wrapper'>
        <img src='/images/cases/streetcar/streetcar-flow.png'>
        <!-- %video.video-bg{:autoplay => "autoplay", :loop => "loop", :muted => "muted"} -->
        <!-- %source{:src => "##########"} -->
      </div>
      <section class='block case-block'>
        <header>
          <h4>Подбор автомобиля</h4>
          <p>Постоянный клиент может забронировать авто в три касания. По умолчанию приложение предлагает пользователю ближайший свободный автомобиль. Подобрать машину можно из списка, либо с помощью карты. Реализована возможность фильтрации по районам города, типу автомобиля, стоимости часа. При желании пользователь может спланировать расписание своих поездок на неделю вперед.</p>
        </header>
        <div class='screen-wrapper'>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/1.png'>
            </div>
            <figcaption>
              <h5>01. Экран выбора авто</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/2.png'>
            </div>
            <figcaption>
              <h5>02. Машины на карте</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/3.png'>
            </div>
            <figcaption>
              <h5>03. Бронирование авто</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/4.png'>
            </div>
            <figcaption>
              <h5>04. Подтверждение</h5>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block case-block'>
        <header>
          <h4>Управление бронированием</h4>
          <p>После подтверждения брони, пользователь может посмотреть местоположения авто на карте и проложить маршрут до него, если это необходимо. Чтобы открыть машину не нужно иметь при себе ключи или клубную карту — достаточно нажать кнопку в мобильном приложении. Существует возможность отменить активное бронирование или изменить время.</p>
        </header>
        <div class='screen-wrapper'>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/5.png'>
            </div>
            <figcaption>
              <h5>05. Экран бронирования</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/6.png'>
            </div>
            <figcaption>
              <h5>06. Построить маршрут</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/7.png'>
            </div>
            <figcaption>
              <h5>07. Экран поездки</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/8.png'>
            </div>
            <figcaption>
              <h5>08. Поездка завершена</h5>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block case-block'>
        <header>
          <h4>Промокоды</h4>
          <p>Для более активного привлечения новых клиентов была разработана система промокодов, которыми пользователи делились со своими друзьями и знакомыми. Промокод позволяет совершить одну бесплатную поездку. Промоутеры компании раздавали брошюры с промокодами на различных мероприятиях и в местах скопления людей. Помимо этого компания дарила промокоды за совершение определенных действий в рамках ко-брендовых рекламных кампаний.</p>
        </header>
        <div class='screen-wrapper'>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/13.png'>
            </div>
            <figcaption>
              <h5>09. Получение промокода</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/14.png'>
            </div>
            <figcaption>
              <h5>10. Введение промокода</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/15.png'>
            </div>
            <figcaption>
              <h5>11. Промо от Citibank</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/16.png'>
            </div>
            <figcaption>
              <h5>12. Вступление в клуб</h5>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block case-block'>
        <header>
          <h4>Профиль пользователя</h4>
          <p>На экране профиля пользователь видит общее количество километров, которое он проехал. Накопленные километры позволяют получать бесплатные поездки, а также другие бонусы от компании. Здесь же пользователь может составить расписание, если он пользуется автомобилем часто, привязать банковскую карту для оплаты и поменять настройки безопасности.</p>
        </header>
        <div class='screen-wrapper'>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/9.png'>
            </div>
            <figcaption>
              <h5>12. Экран профиля</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/10.png'>
            </div>
            <figcaption>
              <h5>13. Экран расписания</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/11.png'>
            </div>
            <figcaption>
              <h5>14. Привязка карты</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/12.png'>
            </div>
            <figcaption>
              <h5>15. Безопасность</h5>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block case-block'>
        <header>
          <h4>Интеграция с METAVERA</h4>
          <p>Для управления системой бронирования, GPS трекинга и контроля доступа в автомобиль используется решение компании Metavera. В машинах установлены специальные устройства, подключенные к интернету. Через них осуществляется передача координат, а также статусов бронирования и данных о состоянии авто (пользователи отвечают на вопросы на устройстве перед поездкой).</p>
          <br>
          <p>Перед нами стояла задача провести интеграцию с API. Мы скооперировались с командой сервиса, изучили документацию, провели внедрение и тестирование.</p>
          <br>
          <p>Мы решили упростить процесс начала поездки для пользователей. В приложении мы реализовали возможность открыть машину без специальной карты, используя только мобильное приложение, так как серверная часть позволяла передавать ID клиента на устройство в автомобиле.</p>
        </header>
        <div class='scheme-wrapper'>
          <figure>
            <img src='/images/cases/streetcar/Meta_1.png'>
            <figcaption>Автомобиль</figcaption>
          </figure>
          <div class='arrows-wrapper'>
            <div class='arrow'></div>
          </div>
          <figure>
            <img src='/images/cases/streetcar/Meta_2.png'>
            <figcaption>Metavera</figcaption>
          </figure>
          <div class='arrows-wrapper'>
            <div class='arrow'></div>
          </div>
          <figure>
            <img src='/images/cases/streetcar/Meta_3.png'>
            <figcaption>API</figcaption>
          </figure>
          <div class='arrows-wrapper'>
            <div class='arrow'></div>
          </div>
          <figure>
            <img src='/images/cases/streetcar/Meta_4.png'>
            <figcaption>Приложение</figcaption>
          </figure>
        </div>
      </section>
      <section class='block case-block'>
        <header>
          <h4>Развитие сервиса</h4>
          <p>В настоящее время сервис недоступен для пользователей в связи с реструктуризацией. Компания столкнулась с большим количеством безответственных водителей, которые часто попадали в ДТП. Специфика бизнеса не позволяет страховать автомобили по КАСКО, так как стоимость поездки становится неконкурентоспособной.</p>
          <br>
          <p>В настоящее время мы работаем над новой концепцией сервиса: внедряем телематику и геймификацию. Теперь приложение самостоятельно отслеживает скорость и координаты, а также сам характер езды с помощью акселлерометров и гироскопа. Участники клуба получают баллы и “уровни” в зависимости от своей аккуратности. Новичкам доступны лишь самые простые автомобили. При желании они могут взять авто классом выше, но с доплатой за предоставление страховки (КАСКО). По мере накопления баллов за аккуратную езду возможности выбора авто увеличиваются, предоставляются различные бонусы: отмена бронирования без штрафа, бесплатные километры и другое.</p>
        </header>
        <div class='screen-wrapper'>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/17.png'>
            </div>
            <figcaption>
              <h5>17. Выбор авто</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/18.png'>
            </div>
            <figcaption>
              <h5>18. Аренда авто</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/19.png'>
            </div>
            <figcaption>
              <h5>19. Профиль</h5>
            </figcaption>
          </figure>
          <figure>
            <div class='iphone-wrapper'>
              <img src='/images/cases/streetcar/Screens/20.png'>
            </div>
            <figcaption>
              <h5>20. Приглашение</h5>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block case-block-end'>
        <section class='case-block-prev'>
          <a class='cases-link' href='/cases/uhp.html'>
            <div class='arrow-wrapper'>
              <img src='/images/arrow-left.svg'>
              <img src='/images/cases/uhp/uhp-preview.png'>
              <header>
                <h2 class='uppercase'>Уникальные кальянные</h2>
                <p>Предыдущий кейс</p>
              </header>
            </div>
          </a>
        </section>
        <section class='case-block-next'>
          <a class='cases-link' href='/cases/almwajaha.html'>
            <div class='arrow-wrapper'>
              <header>
                <h2 class='uppercase'>Almwajaha</h2>
                <p>Следующий кейс</p>
              </header>
              <img src='/images/arrow-right.svg'>
              <img src='/images/cases/almwajaha/almwajaha-preview.png'>
            </div>
          </a>
        </section>
      </section>
      <footer id='footer'>
        <span class='copyright'>
          <p>© 2016 OZ INTERACTIVE. САНКТ-ПЕТЕРБУРГ, 8-Я ЛИНИЯ Д. 29 В.О., ОФИС 51.</p>
        </span>
      </footer>
    </main>
  </body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
  <script src='/js/preloader.js'></script>
  <script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
  <script src='/js/video.js'></script>
  <script src='/js/settings.js'></script>
</html>
