app/haml/parts/_header.haml
%header.page-header#header
  
  %a{:href => "/index.html"}
    %img#logo{:alt => "OZ INTERACTIVE", :src => "/images/logo.svg"}
  %img#icon-menu-cross{:alt => "Меню", :src => "/images/cross.svg"}
  
  %nav
    .links-wrapper
      %a{:href => "/"} Главная
      %a{:href => "/about.html"} О компании
      %a{:href => "/services.html"} Услуги
      %a{:href => "/cases.html"}  Кейсы
      %a{:href => "/wip.html"}  Блог
      %a{:href => "/contacts.html"}  Контакты

  %img#icon-menu{:alt => "Меню", :src => "/images/menu.svg"}

    -# .languages-wrapper
    -#   %a{:href => "index-en.html"}
    -#     .flag-wrapper
    -#       %img{:src => "images/flag-uk.svg"}
    -#     %p EN
  
  
    

app/parts/_header.html
<header class='page-header' id='header'>
  <a href='/index.html'>
    <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
  </a>
  <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
  <nav>
    <div class='links-wrapper'>
      <a href='/'>Главная</a>
      <a href='/about.html'>О компании</a>
      <a href='/services.html'>Услуги</a>
      <a href='/cases.html'>Кейсы</a>
      <a href='/wip.html'>Блог</a>
      <a href='/contacts.html'>Контакты</a>
    </div>
  </nav>
  <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
  </img>
</header>
