app/haml/parts/_letsworktogether.haml
%section#lets-work-together.block
  %header
    %h2.uppercase Если у вас есть интересные идеи, будем рады пообщаться!
    -# %button.open-form-btn.button
    -#   %small
  .contacts-wrapper
    %h4 Всегда на связи:
    %section.contacts
      %p Пишите:
      %p in@oz.digital
    %section.contacts
      %p Звоните:
      %p 8 (812) 913-79-00
    %section.contacts
      %p Приходите:
      %p 8-Я ЛИНИЯ Д. 29 В.О.

app/parts/_letsworktogether.html
<section class='block' id='lets-work-together'>
  <header>
    <h2 class='uppercase'>Если у вас есть интересные идеи, будем рады пообщаться!</h2>
  </header>
  <div class='contacts-wrapper'>
    <h4>Всегда на связи:</h4>
    <section class='contacts'>
      <p>Пишите:</p>
      <p>in@oz.digital</p>
    </section>
    <section class='contacts'>
      <p>Звоните:</p>
      <p>8 (812) 913-79-00</p>
    </section>
    <section class='contacts'>
      <p>Приходите:</p>
      <p>8-Я ЛИНИЯ Д. 29 В.О.</p>
    </section>
  </div>
</section>
