app/parts/_preloader.html
<section id='preloader'>
  <div class='oz_wrapper'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <br>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
    <img alt='OZ' class='oz' src='/images/oz.svg'>
  </div>
</section>

app/haml/parts/_preloader.haml
%section#preloader
  .oz_wrapper
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %br
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
    %img.oz{:alt => "OZ", :src => "/images/oz.svg"}
