app/haml/about.haml
!!!
%html(lang="ru")
	%head
		%meta{:charset => "utf-8"}
		%title OZ INTERACTIVE
		-# Basic Page Needs
		%title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
		%meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
		%meta{:name => "author", :content => "OZ INTERACTIVE"}
		%link{:rel => "icon", :type => "/image/png", :href => "images/favicon.png"}
		-# Mobile Specific Metas
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		%meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
		-# CSS
		%link{:rel => "stylesheet", :href => "/css/main.css"}
		<script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
	%body.page-home
	
		-# Прелоадер
		= Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
		-# Попап: связаться с нами
		= Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
		
		-# Хидер
		= Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

		-# Основной контент
		%main#main-content
			-# О компании
			%section#services-hero.block-hero.block
				%header
					%h1 О компании
				%footer
					%h4 会社向 の プレ<br>ゼ ン テ ー ション
				-# Градиент
				.gradient-overlay
				-# Видео на фоне
				= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "about-rules-bg")
				
			
			-# Философия
			%section#our-philosophy.block
				%header
					%h2 Мы выросли из небольшой команды дизайнеров. По мере развития компании мы занимались стартапами и мобильными играми. Мы много работали и теперь OZ INTERACTIVE — крупное полносервисное агентство, предоставляющее уникальную экспертизу в комплексном развитии проектов.

				.history-wrapper
					%figure
						%img{:src => "/images/about/cupboard.svg"}
						%figcaption
							%h4 Cupboard
							%p Дизайн-бюро Cupboard появилось в 2014 году. В это время мы строили идеальный процесс создания дизайна, а также его внедрения и поддержки. Уровень качества рос с каждой новой работой. Постепенно мы расширяли спектр услуг: стали самостоятельно верстать макеты, появились свои мобильные и серверные разработчики.
					%figure
						%img{:src => "/images/about/alcomath-mimicra.svg"}
						%figcaption
							%h4 Alcomath & Mimicra
							%p Мы научились успешно решать задачи наших клиентов и занялись развитием внутренних проектов. Мы прошли весь путь создания digital продукта от стратегии до запуска, детально изучили все особенности и подводные камни. Этот опыт помог стать нам стать продуктовой компанией и выработать уникальный подход.
					%figure
						%img{:src => "/images/about/ozinteractive.svg"}
						%figcaption
							%h4 OZ INTERACTIVE
							%p Мы собрали идеальную команду, для воплощения всех задуманных идей. Сейчас у нас в штате более 20 человек, среди них дизайнеры, разработчики, продюсеры и маркетологи. Есть собственный photo & video production. Мы работаем с клиентами из России, Германии, Канады, Саудовской Аравии. При этом дизайн был и остается основой всего, что мы делаем.

			
			-# Принципы и ценности
			%section#our-values.block
				%header
					%h2.uppercase Принципы и ценности
				.rules-wrapper
					.rule
						%span 1
						%h4 Любовь
						%p Мы любим свою работу. Любим проекты, которые делаем. Мы очарованы новыми технологиями и возможностями, которые они открывают. Любим сложные задачи и очень трепетно относимся ко всему, что делаем.

					.rule
						%span 2
						%h4 Экспертиза
						%p Мы — команда экспертов в своей отрасли. Наш опыт успешной решения задач клиентов показывает, что предложенные и разработанные нами инструменты работают эффективно, приносят пользу своим владельцам и целевой аудитории. С большинством клиентов мы работаем на постоянной основе.

					.rule
						%span 3
						%h4 Видение
						%p Мы не беремся за разработку или дизайн по техническому заданию клиента. Наша цель — создание успешного продукта, а это далеко не только кодинг или дизайн. Поэтому мы предлагаем клиентам наше видение и подход, с помощью  которых удается достичь высоких результатов и сделать уникальный продукт.

					.rule
						%span 4
						%h4 Философия
						%p Мы фокусируемся на крутых инновационных проектах. Наше правило — каждый новый проект должен быть на порядок успешнее предыдущего, повышать экспертизу команды и выводить бизнес клиента на новый уровень.

					.rule
						%span 5
						%h4 Ответственность
						%p Мы серьезно относимся к данным обещаниям и своей репутации, и ожидаем такого же подхода от партнеров. Мы предлагаем только лучшие практики и технологии, несем ответственность за принятые решения.

					.rule
						%span 6
						%h4 Собственные проекты
						%p Мы занимаемся не только заказной разработкой, но и развитием собственные проекты. Благодаря этому нам&nbsp;удалось детально изучить все аспекты создания продукта от идеи до запуска, и отточить рабочий процесс.
				-# Видео на фоне
				= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "about-hero-bg")
			
			-# Команда
			= Haml::Engine.new(File.read('app/haml/sections/our-team.haml')).render

			-# Вакансии
			%section#vacancies.block
				%header
					%span Работа в OZ
					%h2 Мы ценим талантливых и ответственных людей, прикладываем все усилия, чтобы в компании работали настоящие мастера своего дела.

				.vacancies-wrapper
					.column
						%a{:href => "https://spb.hh.ru/vacancy/17949230"} - Android разработчик
						%a{:href => "https://spb.hh.ru/vacancy/17811723"} - iOS разработчик
					.column
						%a{:href => "https://spb.hh.ru/vacancy/17811784"} - Frontend разработчик

				%p *Нет подходящей вакансии в списке, но ты считаешь что, твой опыт, навыки и подход к работе будут полезны? Напиши нам о себе и своем опыте сюда: in@oz.digital. Будем рады знакомству!

				-# Градиент
				.gradient-overlay
				-# Видео на фоне
				= Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "about-vacansys-bg")	

			-# Наши клиенты
			= Haml::Engine.new(File.read('app/haml/sections/our-clients.haml')).render
			
			-# Партнеры
			-# %section.block
			-# 	%header
			-# 		%h2 У нас много партнеров и мы надеемся их число будет расти
			-# 		%p Мы рады, что число наших партнеров постоянно растет. Возможно Вы — следующий? Самое время познакомиться! Мы всегда открыты интересным предложениям и новым друзьям.

			-# Контакты
			= Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render
			
			-# Футер
			= Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

	-# Скрипты
	= Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render

app/about.html
<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>OZ INTERACTIVE</title>
    <title>OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка</title>
    <meta content='Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах.' name='description'>
    <meta content='OZ INTERACTIVE' name='author'>
    <link href='images/favicon.png' rel='icon' type='/image/png'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='width=device-width, user-scalable=no' name='viewport'>
    <link href='/css/main.css' rel='stylesheet'>
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  </head>
  <body class='page-home'>
    <section id='preloader'>
      <div class='oz_wrapper'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
      </div>
    </section>
    <section class='form_bg' id='popup_contact'>
      <div class='popup_cross'>
        <img alt='Закрыть' src='images/cross.svg'>
      </div>
      <form class='form'>
        <fieldset class='form'>
          <legend class='form'>Контактные данные</legend>
          <!-- <input type="text" name="theme"> Было бы неплохо сделать дропдаун с темами -->
          <input class='form' name='email' placeholder='*Email' required='' type='email'>
          <input class='form' name='name' placeholder='Имя' required='' type='text'>
          <input class='form' name='company' placeholder='Компания' type='text'>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Тема письма</legend>
          <textarea class='form' name='description' placeholder='*Краткое описание задачи' required=''></textarea>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Прикрепить файл</legend>
          <label class='uploadbutton form'>
            <div class='button upload_file form' id='upload_btn'>
              <input id='upload_file' name='file' type='file'>
              <span id='name_file'>Файл не выбран</span>
            </div>
          </label>
        </fieldset>
        <button class='button form' name='sumbit'>
          <small></small>
        </button>
      </form>
    </section>
    <header class='page-header' id='header'>
      <a href='/index.html'>
        <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
      </a>
      <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
      <nav>
        <div class='links-wrapper'>
          <a href='/'>Главная</a>
          <a href='/about.html'>О компании</a>
          <a href='/services.html'>Услуги</a>
          <a href='/cases.html'>Кейсы</a>
          <a href='/wip.html'>Блог</a>
          <a href='/contacts.html'>Контакты</a>
        </div>
      </nav>
      <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
      </img>
    </header>
    <main id='main-content'>
      <section class='block-hero block' id='services-hero'>
        <header>
          <h1>О компании</h1>
        </header>
        <footer>
          <h4>会社向 の プレ<br>ゼ ン テ ー ション</h4>
        </footer>
        <div class='gradient-overlay'></div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='about-rules-bg video-bg' loop='loop' muted='muted'>
            <source src='/videos/about-rules-bg.mp4'>
          </video>
          <canvas class='about-rules-bg-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.about-rules-bg',
            canvasSelector: '.about-rules-bg-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.about-rules-bg-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </section>
      <section class='block' id='our-philosophy'>
        <header>
          <h2>Мы выросли из небольшой команды дизайнеров. По мере развития компании мы занимались стартапами и мобильными играми. Мы много работали и теперь OZ INTERACTIVE — крупное полносервисное агентство, предоставляющее уникальную экспертизу в комплексном развитии проектов.</h2>
        </header>
        <div class='history-wrapper'>
          <figure>
            <img src='/images/about/cupboard.svg'>
            <figcaption>
              <h4>Cupboard</h4>
              <p>Дизайн-бюро Cupboard появилось в 2014 году. В это время мы строили идеальный процесс создания дизайна, а также его внедрения и поддержки. Уровень качества рос с каждой новой работой. Постепенно мы расширяли спектр услуг: стали самостоятельно верстать макеты, появились свои мобильные и серверные разработчики.</p>
            </figcaption>
          </figure>
          <figure>
            <img src='/images/about/alcomath-mimicra.svg'>
            <figcaption>
              <h4>Alcomath & Mimicra</h4>
              <p>Мы научились успешно решать задачи наших клиентов и занялись развитием внутренних проектов. Мы прошли весь путь создания digital продукта от стратегии до запуска, детально изучили все особенности и подводные камни. Этот опыт помог стать нам стать продуктовой компанией и выработать уникальный подход.</p>
            </figcaption>
          </figure>
          <figure>
            <img src='/images/about/ozinteractive.svg'>
            <figcaption>
              <h4>OZ INTERACTIVE</h4>
              <p>Мы собрали идеальную команду, для воплощения всех задуманных идей. Сейчас у нас в штате более 20 человек, среди них дизайнеры, разработчики, продюсеры и маркетологи. Есть собственный photo & video production. Мы работаем с клиентами из России, Германии, Канады, Саудовской Аравии. При этом дизайн был и остается основой всего, что мы делаем.</p>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block' id='our-values'>
        <header>
          <h2 class='uppercase'>Принципы и ценности</h2>
        </header>
        <div class='rules-wrapper'>
          <div class='rule'>
            <span>1</span>
            <h4>Любовь</h4>
            <p>Мы любим свою работу. Любим проекты, которые делаем. Мы очарованы новыми технологиями и возможностями, которые они открывают. Любим сложные задачи и очень трепетно относимся ко всему, что делаем.</p>
          </div>
          <div class='rule'>
            <span>2</span>
            <h4>Экспертиза</h4>
            <p>Мы — команда экспертов в своей отрасли. Наш опыт успешной решения задач клиентов показывает, что предложенные и разработанные нами инструменты работают эффективно, приносят пользу своим владельцам и целевой аудитории. С большинством клиентов мы работаем на постоянной основе.</p>
          </div>
          <div class='rule'>
            <span>3</span>
            <h4>Видение</h4>
            <p>Мы не беремся за разработку или дизайн по техническому заданию клиента. Наша цель — создание успешного продукта, а это далеко не только кодинг или дизайн. Поэтому мы предлагаем клиентам наше видение и подход, с помощью  которых удается достичь высоких результатов и сделать уникальный продукт.</p>
          </div>
          <div class='rule'>
            <span>4</span>
            <h4>Философия</h4>
            <p>Мы фокусируемся на крутых инновационных проектах. Наше правило — каждый новый проект должен быть на порядок успешнее предыдущего, повышать экспертизу команды и выводить бизнес клиента на новый уровень.</p>
          </div>
          <div class='rule'>
            <span>5</span>
            <h4>Ответственность</h4>
            <p>Мы серьезно относимся к данным обещаниям и своей репутации, и ожидаем такого же подхода от партнеров. Мы предлагаем только лучшие практики и технологии, несем ответственность за принятые решения.</p>
          </div>
          <div class='rule'>
            <span>6</span>
            <h4>Собственные проекты</h4>
            <p>Мы занимаемся не только заказной разработкой, но и развитием собственные проекты. Благодаря этому нам&nbsp;удалось детально изучить все аспекты создания продукта от идеи до запуска, и отточить рабочий процесс.</p>
          </div>
        </div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='about-hero-bg video-bg' loop='loop' muted='muted'>
            <source src='/videos/about-hero-bg.mp4'>
          </video>
          <canvas class='about-hero-bg-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.about-hero-bg',
            canvasSelector: '.about-hero-bg-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.about-hero-bg-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </section>
      <section class='block' id='our-team'>
        <header>
          <span>Наша команда</span>
          <h2>Мы успешно сочетаем опыт и талант наших специалистов с идеальной командной работой, у нас один плюс один всегда больше двух.</h2>
        </header>
        <div class='team-wrapper'>
          <figure>
            <img src='images/about/team/ilya-nemov.jpg'>
            <figcaption>
              <h4>Илья Немов</h4>
              <p>Директор по производству</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/kirill-tsyganyk.jpg'>
            <figcaption>
              <h4>Кирилл Цыганюк</h4>
              <p>Арт-директор</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/andrew-gubanov.jpg'>
            <figcaption>
              <h4>Андрей Губанов</h4>
              <p>Дизайнер</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/alexander-sylantiev.jpg'>
            <figcaption>
              <h4>Александр Силантьев</h4>
              <p>Видеограф</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/igor-romanov.jpg'>
            <figcaption>
              <h4>Игорь Романов</h4>
              <p>Технический директор</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/saroar-khandoker.jpg'>
            <figcaption>
              <h4>Сароар Кхандокер</h4>
              <p>Backend разработчик</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/daria-ruymantseva.jpg'>
            <figcaption>
              <h4>Дарья Румянцева</h4>
              <p>Директор по развитию</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/vladimir-erishiv.jpg'>
            <figcaption>
              <h4>Владимир Ерышев</h4>
              <p>iOS разработчик</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/ilya-burakov.jpg'>
            <figcaption>
              <h4>Илья Бураков</h4>
              <p>Креативный директор</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/denis-kabanov.jpg'>
            <figcaption>
              <h4>Денис Кабанов</h4>
              <p>Аккаунт-директор</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/philip-ditrih.jpg'>
            <figcaption>
              <h4>Филипп Дитрих</h4>
              <p>Генеральный директор</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/dmitrii-starchevskii.jpg'>
            <figcaption>
              <h4>Дмитрий Старчевский</h4>
              <p>Android разработчик</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/maxim-borysyuk.jpg'>
            <figcaption>
              <h4>Максим Борисюк</h4>
              <p>Интернет-маркетолог</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/no-photo.jpg'>
            <figcaption>
              <h4>Илья Погребенко</h4>
              <p>Android разработчик</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/no-photo.jpg'>
            <figcaption>
              <h4>Михаил Яковлев</h4>
              <p>Fullstack разработчик</p>
            </figcaption>
          </figure>
          <figure>
            <img src='images/about/team/no-photo.jpg'>
            <figcaption>
              <h4>Екатерина Тарасова</h4>
              <p>Финансовый директор</p>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block' id='vacancies'>
        <header>
          <span>Работа в OZ</span>
          <h2>Мы ценим талантливых и ответственных людей, прикладываем все усилия, чтобы в компании работали настоящие мастера своего дела.</h2>
        </header>
        <div class='vacancies-wrapper'>
          <div class='column'>
            <a href='https://spb.hh.ru/vacancy/17949230'>- Android разработчик</a>
            <a href='https://spb.hh.ru/vacancy/17811723'>- iOS разработчик</a>
          </div>
          <div class='column'>
            <a href='https://spb.hh.ru/vacancy/17811784'>- Frontend разработчик</a>
          </div>
        </div>
        <p>*Нет подходящей вакансии в списке, но ты считаешь что, твой опыт, навыки и подход к работе будут полезны? Напиши нам о себе и своем опыте сюда: in@oz.digital. Будем рады знакомству!</p>
        <div class='gradient-overlay'></div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='about-vacansys-bg video-bg' loop='loop' muted='muted'>
            <source src='/videos/about-vacansys-bg.mp4'>
          </video>
          <canvas class='about-vacansys-bg-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.about-vacansys-bg',
            canvasSelector: '.about-vacansys-bg-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.about-vacansys-bg-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </section>
      <section class='block' id='our-clients'>
        <header>
          <span>Наши клиенты</span>
          <h2>Мы всегда рады сотрудничеству с компаниями и людьми, разделяющими наши ценности. Вместе с партнерами мы работаем над проектами в самых разных сфера. Нам&nbsp;интересны как крупные бренды, так и небольшие команды из России и зарубежных стран.</h2>
        </header>
        <div class='logos-wrapper'>
          <div>
            <img alt='Home Credit' src='images/clients/homecredit.svg'>
          </div>
          <div>
            <img alt='Jaguar' src='images/clients/jaguar.svg'>
          </div>
          <div>
            <img alt='Kinder' src='images/clients/kinder.svg'>
          </div>
          <div>
            <img alt='LandRover' src='images/clients/landrover.svg'>
          </div>
          <div>
            <img alt='OneTwoTrip' class='onetwotrip' src='images/clients/onetwotrip.svg'>
          </div>
          <div>
            <img alt='Leroy Merlin' src='images/clients/leroymerlin.svg'>
          </div>
          <div>
            <img alt='МТС' src='images/clients/vk.svg'>
          </div>
          <div>
            <img alt='Сбербанк' src='images/clients/sberbank.svg'>
          </div>
          <div>
            <img alt='The Macallan' src='images/clients/macallan.svg'>
          </div>
          <div>
            <img alt='Cupli Surveys' src='images/clients/cupli.svg'>
          </div>
          <div>
            <img alt='Unique Hookah Places' src='images/clients/uhp.svg'>
          </div>
          <div>
            <img alt='Alpha Apps' class='onetwotrip_logo' src='images/clients/alphaapps.svg'>
          </div>
        </div>
      </section>
      <section class='block' id='lets-work-together'>
        <header>
          <h2 class='uppercase'>Если у вас есть интересные идеи, будем рады пообщаться!</h2>
        </header>
        <div class='contacts-wrapper'>
          <h4>Всегда на связи:</h4>
          <section class='contacts'>
            <p>Пишите:</p>
            <p>in@oz.digital</p>
          </section>
          <section class='contacts'>
            <p>Звоните:</p>
            <p>8 (812) 913-79-00</p>
          </section>
          <section class='contacts'>
            <p>Приходите:</p>
            <p>8-Я ЛИНИЯ Д. 29 В.О.</p>
          </section>
        </div>
      </section>
      <footer id='footer'>
        <span class='copyright'>
          <p>© 2016 OZ INTERACTIVE. САНКТ-ПЕТЕРБУРГ, 8-Я ЛИНИЯ Д. 29 В.О., ОФИС 51.</p>
        </span>
      </footer>
    </main>
  </body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
  <script src='/js/preloader.js'></script>
  <script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
  <script src='/js/video.js'></script>
  <script src='/js/settings.js'></script>
</html>
