app/haml/cases.haml
!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "/image/png", :href => "images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  %body.page-home

    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    -# Попап: связаться с нами
    -# = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render

    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    %main#main-content
      -# Кейсы
      -# ####################################

      %section#services-hero.block-hero.block
        %header
          %h1 Кейсы
        %footer
          %h4 会社向 の プレ<br>ゼ ン テ ー ション
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "cases-hero-video")

      -# Лучшие кейсы
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/sections/_cases.haml')).render

      -# Наши кейсы
      -# ####################################
      %section#our-cases.block
        %header
          %span Наши кейсы
          %h2 В своих работах мы стремимся найти идеал и превзойти его, раздвинуть границы привычного и разработать будущее. Без полной самоотдачи, усердной работы и любви к своему делу невозможно создать уникальный продукт, изменяющий эту реальность.

      -# Сетка с проектами
      %section#cases-grid
        -# UHP
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Уникальные Кальянные", :service => "Все включено" , :image => "images/cases/uhp/uhp-preview.png", :link => "/cases/uhp.html")

        -# Street Car
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Street Car", :service => "Все включено" , :image => "images/cases/streetcar/streetcar-preview.png", :link => "/cases/streetcar.html")

        -# Almwajaha
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Almwajaha", :service => "Редизайн" , :image => "images/cases/almwajaha/almwajaha-preview.png", :link => "/cases/almwajaha.html")

        -# Alcomath
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Alcomath", :service => "Все включено" , :image => "images/cases/alcomath/alcomath-preview.png", :link => "cases/alcomath.html")

        -# Home Credit
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Home Credit Stuff", :service => "Проектирование и дизайн" , :image => "images/cases/stuff/stuff-preview.gif", :link => "/wip.html")

        -# Mystery Dream
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Mystery Dream", :service => "Все включено" , :image => "images/cases/mystery-dream/mystery-dream-preview.png", :link => "/wip.html")

        -# VK Fest
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Фестиваль Вконтакте", :service => "Репортажная съемка" , :image => "images/cases/vk-fest/vk-fest-preview.png", :link => "/wip.html")

        -# Tatakoto
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Tatakoto", :service => "Концепция брендинга" , :image => "images/cases/tatakoto/tatakoto-preview.png", :link => "/wip.html")

        -# -# Paxum
        -# = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Paxum", :service => "Все включено" , :image => "images/cases/paxum/paxum-preview.png", :link => "cases/paxum.html")

        -# Mimicra
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "Mimicra", :service => "Все включено" , :image => "images/cases/mimicra/mimicra-preview.png", :link => "/wip.html")

        -# AHT
        = Haml::Engine.new(File.read('app/haml/_ui/_case-preview.haml')).render(Object.new, :title => "AHT Capsule Collection", :service => "Рекламная съемка" , :image => "images/cases/aht/aht-preview.png", :link => "/wip.html")

      -# Наши клиенты
      = Haml::Engine.new(File.read('app/haml/sections/our-clients.haml')).render

      -# Контакты
      = Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render

      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render

app/cases.html
<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>OZ INTERACTIVE</title>
    <title>OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка</title>
    <meta content='Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах.' name='description'>
    <meta content='OZ INTERACTIVE' name='author'>
    <link href='images/favicon.png' rel='icon' type='/image/png'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='width=device-width, user-scalable=no' name='viewport'>
    <link href='/css/main.css' rel='stylesheet'>
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  </head>
  <body class='page-home'>
    <section id='preloader'>
      <div class='oz_wrapper'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
      </div>
    </section>
    <header class='page-header' id='header'>
      <a href='/index.html'>
        <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
      </a>
      <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
      <nav>
        <div class='links-wrapper'>
          <a href='/'>Главная</a>
          <a href='/about.html'>О компании</a>
          <a href='/services.html'>Услуги</a>
          <a href='/cases.html'>Кейсы</a>
          <a href='/wip.html'>Блог</a>
          <a href='/contacts.html'>Контакты</a>
        </div>
      </nav>
      <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
      </img>
    </header>
    <main id='main-content'>
      <section class='block-hero block' id='services-hero'>
        <header>
          <h1>Кейсы</h1>
        </header>
        <footer>
          <h4>会社向 の プレ<br>ゼ ン テ ー ション</h4>
        </footer>
        <div class='gradient-overlay'></div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='cases-hero-video video-bg' loop='loop' muted='muted'>
            <source src='/videos/cases-hero-video.mp4'>
          </video>
          <canvas class='cases-hero-video-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.cases-hero-video',
            canvasSelector: '.cases-hero-video-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.cases-hero-video-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </section>
      <section class='block' id='our-cases'>
        <header>
          <span>Наши кейсы</span>
          <h2>Изящные решения помогают нам создавать неповторимые проекты. Каждая новая задача — это возможность превзойти идеал, раздвинуть границы привычного. Без полной самоотдачи, усердной работы и любви к своему делу невозможно создать уникальный инновационный продукт.</h2>
        </header>
        <div class='cases-wrapper'>
          <div class='case-wrapper'>
            <figure>
              <figcaption>
                <img alt='Уникальные Кальянные' src='images/cases/uhp/uhp_logo.svg'>
                <h3 class='uppercase'>Уникальные Кальянные</h3>
                <p>Создание продукта под ключ для федеральной сети кальянных: начиная с разработка 150-страничного digital-брендингаи заканчивая созданием геймифицированный личный кабинет для сотрудников и посетителей.</p>
                <a class='button button-next' href='/cases/uhp.html'>
                  <small></small>
                </a>
              </figcaption>
              <div class='video-wrapper'>
                <video autoplay='autoplay' class='uhp video-bg' loop='loop' muted='muted'>
                  <source src='/videos/uhp.mp4'>
                </video>
                <canvas class='uhp-canvas'></canvas>
                <script>
                  var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
                  if (isIOS) {
                  var canvasVideo = new CanvasVideoPlayer({
                  videoSelector: '.uhp',
                  canvasSelector: '.uhp-canvas',
                  timelineSelector: false,
                  autoplay: true,
                  makeLoop: true,
                  pauseOnClick: false,
                  audio: false
                  });
                  } else {
                  <!-- / Use HTML5 video -->
                  document.querySelectorAll('.uhp-canvas')[0].style.display = 'none';
                  }
                </script>
              </div>
            </figure>
          </div>
          <div class='case-wrapper'>
            <figure>
              <figcaption>
                <img alt='Street Car' src='images/cases/streetcar/streetcar_logo.svg'>
                <h3 class='uppercase'>Street Car</h3>
                <p>Мобильное приложение для первого в России каршеринг-сервиса. Участники клуба могут найти ближайший автомобиль и забронировать его; составить расписание поездок на день, неделю или месяц.</p>
                <a class='button button-next' href='/cases/streetcar.html'>
                  <small></small>
                </a>
              </figcaption>
              <div class='video-wrapper'>
                <video autoplay='autoplay' class='streetcar video-bg' loop='loop' muted='muted'>
                  <source src='/videos/streetcar.mp4'>
                </video>
                <canvas class='streetcar-canvas'></canvas>
                <script>
                  var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
                  if (isIOS) {
                  var canvasVideo = new CanvasVideoPlayer({
                  videoSelector: '.streetcar',
                  canvasSelector: '.streetcar-canvas',
                  timelineSelector: false,
                  autoplay: true,
                  makeLoop: true,
                  pauseOnClick: false,
                  audio: false
                  });
                  } else {
                  <!-- / Use HTML5 video -->
                  document.querySelectorAll('.streetcar-canvas')[0].style.display = 'none';
                  }
                </script>
              </div>
            </figure>
          </div>
          <div class='case-wrapper' style='background-image: url(images/cases/almwajaha/almwajaha_bg.png); color: #333333'>
            <figure>
              <figcaption>
                <img alt='Almwajaha' src='images/cases/almwajaha/almwajaha_logo.svg'>
                <h3 class='uppercase'>Almwajaha</h3>
                <p>Крупнейшая арабская игра-викторина, разработанная с учетом специфики пользователей из стран Ближнего Востока. С целью ориентирования приложения на отличительные особенности конечного пользователя был произведен design research, продуманы новые пользовательские сценарии и игровые механики, а так же разработана новый визуальный стиль для игры.</p>
                <a class='button button-next' href='/cases/almwajaha.html'>
                  <small></small>
                </a>
              </figcaption>
            </figure>
          </div>
          <div class='case-wrapper'>
            <figure>
              <figcaption>
                <img alt='Alcomath' src='images/cases/alcomath/alcomath_logo.png'>
                <h3 class='uppercase'>Alcomath</h3>
                <p>Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями, и искать единомышленников.</p>
                <a class='button button-next' href='/cases/alcomath.html'>
                  <small></small>
                </a>
              </figcaption>
              <div class='video-wrapper'>
                <video autoplay='autoplay' class='alcomath video-bg' loop='loop' muted='muted'>
                  <source src='/videos/alcomath.mp4'>
                </video>
                <canvas class='alcomath-canvas'></canvas>
                <script>
                  var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
                  if (isIOS) {
                  var canvasVideo = new CanvasVideoPlayer({
                  videoSelector: '.alcomath',
                  canvasSelector: '.alcomath-canvas',
                  timelineSelector: false,
                  autoplay: true,
                  makeLoop: true,
                  pauseOnClick: false,
                  audio: false
                  });
                  } else {
                  <!-- / Use HTML5 video -->
                  document.querySelectorAll('.alcomath-canvas')[0].style.display = 'none';
                  }
                </script>
              </div>
            </figure>
          </div>
        </div>
      </section>
      <section class='block' id='our-cases'>
        <header>
          <span>Наши кейсы</span>
          <h2>В своих работах мы стремимся найти идеал и превзойти его, раздвинуть границы привычного и разработать будущее. Без полной самоотдачи, усердной работы и любви к своему делу невозможно создать уникальный продукт, изменяющий эту реальность.</h2>
        </header>
      </section>
      <section id='cases-grid'>
        <div class='case-prevew' href='/cases/uhp.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Уникальные Кальянные</h3>
            <a href='/cases/uhp.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/uhp/uhp-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/cases/streetcar.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Street Car</h3>
            <a href='/cases/streetcar.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/streetcar/streetcar-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/cases/almwajaha.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Almwajaha</h3>
            <a href='/cases/almwajaha.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/almwajaha/almwajaha-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='cases/alcomath.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Alcomath</h3>
            <a href='cases/alcomath.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/alcomath/alcomath-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/wip.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Home Credit Stuff</h3>
            <a href='/wip.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/stuff/stuff-preview.gif)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/wip.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Mystery Dream</h3>
            <a href='/wip.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/mystery-dream/mystery-dream-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/wip.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Фестиваль Вконтакте</h3>
            <a href='/wip.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/vk-fest/vk-fest-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/wip.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Tatakoto</h3>
            <a href='/wip.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/tatakoto/tatakoto-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/wip.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>Mimicra</h3>
            <a href='/wip.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/mimicra/mimicra-preview.png)'></div>
          </div>
        </div>
        <div class='case-prevew' href='/wip.html'>
          <div class='case-content-wrapper'>
            <h3 class='uppercase'>AHT Capsule Collection</h3>
            <a href='/wip.html'>Посмотреть кейс →</a>
          </div>
          <div class='case-image-wrapper'>
            <div class='image-bg' style='background-image: url(images/cases/aht/aht-preview.png)'></div>
          </div>
        </div>
      </section>
      <section class='block' id='our-clients'>
        <header>
          <span>Наши клиенты</span>
          <h2>Мы всегда рады сотрудничеству с компаниями и людьми, разделяющими наши ценности. Вместе с партнерами мы работаем над проектами в самых разных сфера. Нам&nbsp;интересны как крупные бренды, так и небольшие команды из России и зарубежных стран.</h2>
        </header>
        <div class='logos-wrapper'>
          <div>
            <img alt='Home Credit' src='images/clients/homecredit.svg'>
          </div>
          <div>
            <img alt='Jaguar' src='images/clients/jaguar.svg'>
          </div>
          <div>
            <img alt='Kinder' src='images/clients/kinder.svg'>
          </div>
          <div>
            <img alt='LandRover' src='images/clients/landrover.svg'>
          </div>
          <div>
            <img alt='OneTwoTrip' class='onetwotrip' src='images/clients/onetwotrip.svg'>
          </div>
          <div>
            <img alt='Leroy Merlin' src='images/clients/leroymerlin.svg'>
          </div>
          <div>
            <img alt='МТС' src='images/clients/vk.svg'>
          </div>
          <div>
            <img alt='Сбербанк' src='images/clients/sberbank.svg'>
          </div>
          <div>
            <img alt='The Macallan' src='images/clients/macallan.svg'>
          </div>
          <div>
            <img alt='Cupli Surveys' src='images/clients/cupli.svg'>
          </div>
          <div>
            <img alt='Unique Hookah Places' src='images/clients/uhp.svg'>
          </div>
          <div>
            <img alt='Alpha Apps' class='onetwotrip_logo' src='images/clients/alphaapps.svg'>
          </div>
        </div>
      </section>
      <section class='block' id='lets-work-together'>
        <header>
          <h2 class='uppercase'>Если у вас есть интересные идеи, будем рады пообщаться!</h2>
        </header>
        <div class='contacts-wrapper'>
          <h4>Всегда на связи:</h4>
          <section class='contacts'>
            <p>Пишите:</p>
            <p>in@oz.digital</p>
          </section>
          <section class='contacts'>
            <p>Звоните:</p>
            <p>8 (812) 913-79-00</p>
          </section>
          <section class='contacts'>
            <p>Приходите:</p>
            <p>8-Я ЛИНИЯ Д. 29 В.О.</p>
          </section>
        </div>
      </section>
      <footer id='footer'>
        <span class='copyright'>
          <p>© 2016 OZ INTERACTIVE. САНКТ-ПЕТЕРБУРГ, 8-Я ЛИНИЯ Д. 29 В.О., ОФИС 51.</p>
        </span>
      </footer>
    </main>
  </body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
  <script src='/js/preloader.js'></script>
  <script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
  <script src='/js/video.js'></script>
  <script src='/js/settings.js'></script>
</html>
