app/index.html
<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>OZ INTERACTIVE</title>
    <title>OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка</title>
    <meta content='Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах.' name='description'>
    <meta content='OZ INTERACTIVE' name='author'>
    <link href='/images/favicon.png' rel='icon' type='image/png'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='width=device-width, user-scalable=no' name='viewport'>
    <link href='/css/main.css' rel='stylesheet'>
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    <script src='/js/video.js'></script>
  </head>
  <body class='page-home'>
    <section id='preloader'>
      <div class='oz_wrapper'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
      </div>
    </section>
    <section class='form_bg' id='popup_contact'>
      <div class='popup_cross'>
        <img alt='Закрыть' src='images/cross.svg'>
      </div>
      <form class='form'>
        <fieldset class='form'>
          <legend class='form'>Контактные данные</legend>
          <!-- <input type="text" name="theme"> Было бы неплохо сделать дропдаун с темами -->
          <input class='form' name='email' placeholder='*Email' required='' type='email'>
          <input class='form' name='name' placeholder='Имя' required='' type='text'>
          <input class='form' name='company' placeholder='Компания' type='text'>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Тема письма</legend>
          <textarea class='form' name='description' placeholder='*Краткое описание задачи' required=''></textarea>
        </fieldset>
        <fieldset class='form'>
          <legend class='form'>Прикрепить файл</legend>
          <label class='uploadbutton form'>
            <div class='button upload_file form' id='upload_btn'>
              <input id='upload_file' name='file' type='file'>
              <span id='name_file'>Файл не выбран</span>
            </div>
          </label>
        </fieldset>
        <button class='button form' name='sumbit'>
          <small></small>
        </button>
      </form>
    </section>
    <header class='page-header' id='header'>
      <a href='/index.html'>
        <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
      </a>
      <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
      <nav>
        <div class='links-wrapper'>
          <a href='/'>Главная</a>
          <a href='/about.html'>О компании</a>
          <a href='/services.html'>Услуги</a>
          <a href='/cases.html'>Кейсы</a>
          <a href='/wip.html'>Блог</a>
          <a href='/contacts.html'>Контакты</a>
        </div>
      </nav>
      <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
      </img>
    </header>
    <main id='main-content'>
      <section class='block' id='landing-block'>
        <header>
          <h1>Мы есть синтез <b>технологии</b> и <b>магии</b></h1>
        </header>
        <footer>
          <h4>会社 OZ INTERACTIVE<br>向 の プレ ゼ ン テ ー ション</h4>
        </footer>
        <div class='gradient-overlay'></div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='homeherobg video-bg' loop='loop' muted='muted'>
            <source src='/videos/homeherobg.mp4'>
          </video>
          <canvas class='homeherobg-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.homeherobg',
            canvasSelector: '.homeherobg-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.homeherobg-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </section>
      <section class='block' id='about-us'>
        <header>
          <h2>Команда стратегов, дизайнеров, продюсеров и разработчиков, вдохновленных силой технологий и инноваций. Мы помогаем клиентам достичь их целей с помощью неординарного подхода к отношениям между брендом и потребителем, пользовательскому опыту и взаимодействию.</h2>
          <a class='download-pdf' href='/ozinteractive.pdf' target='_blank'>Скачать презентацию</a>
        </header>
      </section>
      <section class='block' id='our-services'>
        <header>
          <h2>OZ INTERACTIVE занимается созданием и запуском digital продуктов. Наши услуги охватывают как отдельные этапы проекта, так и разработку ALL INCLUSIVE.</h2>
        </header>
        <div>
          <section>
            <h4>Стратегия</h4>
            <p>Мы решаем весь комплекс задач, связанный со стратегией и планированием.  Погружаемся в процесс, определяем цели и задачи, составляем роадмап, продумываем этапы, подбираем необходимые технологии.</p>
            <a href='/services/strategy.html'>Узнать больше →</a>
          </section>
          <section>
            <h4>Креатив</h4>
            <p>Качественно реализуем каждый этап стратегии. Проводим аналитику, разрабатываем брендинг, продумываем концепции, создаем дизайн интерфейса, рисуем иллюстрации, продумываем анимацию и interactive, снимаем фото и видео контент.</p>
            <a href='/services/creative.html'>Узнать больше →</a>
          </section>
          <section>
            <h4>Разработка</h4>
            <p>Программируем и верстаем веб проекты от промо-сайтов до сложных веб-приложений. Разрабатываем мобильные приложения, игры. Знаем, как сделать чтобы работало — интегрируем сторонние системы разрабатываем API, пишем документацию.</p>
            <a href='/services/development.html'>Узнать больше →</a>
          </section>
          <section>
            <h4>Маркетинг</h4>
            <p>Умеем запускать и продвигать как веб, так и мобильные проекты. Оптимизируем продукт для запуска, подбираем каналы и площадки, а так же продумываем контентную стратегию и закупаем траффик для эффективного продвижения.</p>
            <a href='/services/marketing.html'>Узнать больше →</a>
          </section>
        </div>
      </section>
      <section class='block' id='our-cases'>
        <header>
          <span>Наши кейсы</span>
          <h2>Изящные решения помогают нам создавать неповторимые проекты. Каждая новая задача — это возможность превзойти идеал, раздвинуть границы привычного. Без полной самоотдачи, усердной работы и любви к своему делу невозможно создать уникальный инновационный продукт.</h2>
        </header>
        <div class='cases-wrapper'>
          <div class='case-wrapper'>
            <figure>
              <figcaption>
                <img alt='Уникальные Кальянные' src='images/cases/uhp/uhp_logo.svg'>
                <h3 class='uppercase'>Уникальные Кальянные</h3>
                <p>Создание продукта под ключ для федеральной сети кальянных: начиная с разработка 150-страничного digital-брендингаи заканчивая созданием геймифицированный личный кабинет для сотрудников и посетителей.</p>
                <a class='button button-next' href='/cases/uhp.html'>
                  <small></small>
                </a>
              </figcaption>
              <div class='video-wrapper'>
                <video autoplay='autoplay' class='uhp video-bg' loop='loop' muted='muted'>
                  <source src='/videos/uhp.mp4'>
                </video>
                <canvas class='uhp-canvas'></canvas>
                <script>
                  var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
                  if (isIOS) {
                  var canvasVideo = new CanvasVideoPlayer({
                  videoSelector: '.uhp',
                  canvasSelector: '.uhp-canvas',
                  timelineSelector: false,
                  autoplay: true,
                  makeLoop: true,
                  pauseOnClick: false,
                  audio: false
                  });
                  } else {
                  <!-- / Use HTML5 video -->
                  document.querySelectorAll('.uhp-canvas')[0].style.display = 'none';
                  }
                </script>
              </div>
            </figure>
          </div>
          <div class='case-wrapper'>
            <figure>
              <figcaption>
                <img alt='Street Car' src='images/cases/streetcar/streetcar_logo.svg'>
                <h3 class='uppercase'>Street Car</h3>
                <p>Мобильное приложение для первого в России каршеринг-сервиса. Участники клуба могут найти ближайший автомобиль и забронировать его; составить расписание поездок на день, неделю или месяц.</p>
                <a class='button button-next' href='/cases/streetcar.html'>
                  <small></small>
                </a>
              </figcaption>
              <div class='video-wrapper'>
                <video autoplay='autoplay' class='streetcar video-bg' loop='loop' muted='muted'>
                  <source src='/videos/streetcar.mp4'>
                </video>
                <canvas class='streetcar-canvas'></canvas>
                <script>
                  var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
                  if (isIOS) {
                  var canvasVideo = new CanvasVideoPlayer({
                  videoSelector: '.streetcar',
                  canvasSelector: '.streetcar-canvas',
                  timelineSelector: false,
                  autoplay: true,
                  makeLoop: true,
                  pauseOnClick: false,
                  audio: false
                  });
                  } else {
                  <!-- / Use HTML5 video -->
                  document.querySelectorAll('.streetcar-canvas')[0].style.display = 'none';
                  }
                </script>
              </div>
            </figure>
          </div>
          <div class='case-wrapper' style='background-image: url(images/cases/almwajaha/almwajaha_bg.png); color: #333333'>
            <figure>
              <figcaption>
                <img alt='Almwajaha' src='images/cases/almwajaha/almwajaha_logo.svg'>
                <h3 class='uppercase'>Almwajaha</h3>
                <p>Крупнейшая арабская игра-викторина, разработанная с учетом специфики пользователей из стран Ближнего Востока. С целью ориентирования приложения на отличительные особенности конечного пользователя был произведен design research, продуманы новые пользовательские сценарии и игровые механики, а так же разработана новый визуальный стиль для игры.</p>
                <a class='button button-next' href='/cases/almwajaha.html'>
                  <small></small>
                </a>
              </figcaption>
            </figure>
          </div>
          <div class='case-wrapper'>
            <figure>
              <figcaption>
                <img alt='Alcomath' src='images/cases/alcomath/alcomath_logo.png'>
                <h3 class='uppercase'>Alcomath</h3>
                <p>Cоциальная сеть отчаянных любителей сумасбродных вечеринок и отвязных тусовок, завсегдатаев злачных заведений города и прочих потребителей алкоголя. Проект основан на механике алко-трекера с добавлением социального функционала. Мобильное приложение позволяет хранить историю своих вечеринок, отмечая разновидность и количество выпитого спиртного, делиться впечатлениями с друзьями, и искать единомышленников.</p>
                <a class='button button-next' href='/cases/alcomath.html'>
                  <small></small>
                </a>
              </figcaption>
              <div class='video-wrapper'>
                <video autoplay='autoplay' class='alcomath video-bg' loop='loop' muted='muted'>
                  <source src='/videos/alcomath.mp4'>
                </video>
                <canvas class='alcomath-canvas'></canvas>
                <script>
                  var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
                  if (isIOS) {
                  var canvasVideo = new CanvasVideoPlayer({
                  videoSelector: '.alcomath',
                  canvasSelector: '.alcomath-canvas',
                  timelineSelector: false,
                  autoplay: true,
                  makeLoop: true,
                  pauseOnClick: false,
                  audio: false
                  });
                  } else {
                  <!-- / Use HTML5 video -->
                  document.querySelectorAll('.alcomath-canvas')[0].style.display = 'none';
                  }
                </script>
              </div>
            </figure>
          </div>
        </div>
      </section>
      <section class='block' id='our-clients'>
        <header>
          <span>Наши клиенты</span>
          <h2>Мы всегда рады сотрудничеству с компаниями и людьми, разделяющими наши ценности. Вместе с партнерами мы работаем над проектами в самых разных сфера. Нам&nbsp;интересны как крупные бренды, так и небольшие команды из России и зарубежных стран.</h2>
        </header>
        <div class='logos-wrapper'>
          <div>
            <img alt='Home Credit' src='images/clients/homecredit.svg'>
          </div>
          <div>
            <img alt='Jaguar' src='images/clients/jaguar.svg'>
          </div>
          <div>
            <img alt='Kinder' src='images/clients/kinder.svg'>
          </div>
          <div>
            <img alt='LandRover' src='images/clients/landrover.svg'>
          </div>
          <div>
            <img alt='OneTwoTrip' class='onetwotrip' src='images/clients/onetwotrip.svg'>
          </div>
          <div>
            <img alt='Leroy Merlin' src='images/clients/leroymerlin.svg'>
          </div>
          <div>
            <img alt='МТС' src='images/clients/vk.svg'>
          </div>
          <div>
            <img alt='Сбербанк' src='images/clients/sberbank.svg'>
          </div>
          <div>
            <img alt='The Macallan' src='images/clients/macallan.svg'>
          </div>
          <div>
            <img alt='Cupli Surveys' src='images/clients/cupli.svg'>
          </div>
          <div>
            <img alt='Unique Hookah Places' src='images/clients/uhp.svg'>
          </div>
          <div>
            <img alt='Alpha Apps' class='onetwotrip_logo' src='images/clients/alphaapps.svg'>
          </div>
        </div>
      </section>
      <section class='block' id='lets-work-together'>
        <header>
          <h2 class='uppercase'>Если у вас есть интересные идеи, будем рады пообщаться!</h2>
        </header>
        <div class='contacts-wrapper'>
          <h4>Всегда на связи:</h4>
          <section class='contacts'>
            <p>Пишите:</p>
            <p>in@oz.digital</p>
          </section>
          <section class='contacts'>
            <p>Звоните:</p>
            <p>8 (812) 913-79-00</p>
          </section>
          <section class='contacts'>
            <p>Приходите:</p>
            <p>8-Я ЛИНИЯ Д. 29 В.О.</p>
          </section>
        </div>
      </section>
      <footer id='footer'>
        <span class='copyright'>
          <p>© 2016 OZ INTERACTIVE. САНКТ-ПЕТЕРБУРГ, 8-Я ЛИНИЯ Д. 29 В.О., ОФИС 51.</p>
        </span>
      </footer>
    </main>
  </body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
  <script src='/js/preloader.js'></script>
  <script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
  <script src='/js/video.js'></script>
  <script src='/js/settings.js'></script>
</html>

app/haml/index.haml
!!!
%html(lang="ru")
  
  -# Head
  -# ####################################
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
    %script(src="/js/video.js")
  
  -# Body
  -# ####################################
  %body.page-home
    
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    
    -# Попап: связаться с нами
    = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    -# ####################################
    %main#main-content
      
      -# Мы есть синтез
      -# #################################### 
      %section#landing-block.block
        -# Контент
        %header
          %h1 Мы есть синтез <b>технологии</b> и <b>магии</b>
          -# %button.open-form-btn.button
          -#   %small
        -# Подпись
        %footer
          %h4 会社 OZ INTERACTIVE<br>向 の プレ ゼ ン テ ー ション
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "homeherobg")

      -# О компании
      -# ####################################
      %section#about-us.block
        %header
          %h2 Команда стратегов, дизайнеров, продюсеров и разработчиков, вдохновленных силой технологий и инноваций. Мы помогаем клиентам достичь их целей с помощью неординарного подхода к отношениям между брендом и потребителем, пользовательскому опыту и взаимодействию.
          %a.download-pdf{:href => "/ozinteractive.pdf", :target => "_blank"} Скачать презентацию
      
      -# Наши услуги
      -# ####################################
      %section#our-services.block
        %header
          %h2 OZ INTERACTIVE занимается созданием и запуском digital продуктов. Наши услуги охватывают как отдельные этапы проекта, так и разработку ALL INCLUSIVE.
        %div
          %section
            %h4 Стратегия
            %p Мы решаем весь комплекс задач, связанный со стратегией и планированием.  Погружаемся в процесс, определяем цели и задачи, составляем роадмап, продумываем этапы, подбираем необходимые технологии.
            %a{:href => "/services/strategy.html"} Узнать больше →
          %section
            %h4 Креатив
            %p Качественно реализуем каждый этап стратегии. Проводим аналитику, разрабатываем брендинг, продумываем концепции, создаем дизайн интерфейса, рисуем иллюстрации, продумываем анимацию и interactive, снимаем фото и видео контент. 
            %a{:href => "/services/creative.html"} Узнать больше →
          %section
            %h4 Разработка
            %p Программируем и верстаем веб проекты от промо-сайтов до сложных веб-приложений. Разрабатываем мобильные приложения, игры. Знаем, как сделать чтобы работало — интегрируем сторонние системы разрабатываем API, пишем документацию. 
            %a{:href => "/services/development.html"} Узнать больше →
          %section
            %h4 Маркетинг
            %p Умеем запускать и продвигать как веб, так и мобильные проекты. Оптимизируем продукт для запуска, подбираем каналы и площадки, а так же продумываем контентную стратегию и закупаем траффик для эффективного продвижения.
            %a{:href => "/services/marketing.html"} Узнать больше →

      -# Наши кейсы
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/sections/_cases.haml')).render
      
      -# Наши клиенты
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/sections/our-clients.haml')).render
      
      -# Контакты
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render

      -# Футер
      -# ####################################
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  -# ####################################
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
