app/services.html
<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title>OZ INTERACTIVE</title>
    <title>OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка</title>
    <meta content='Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах.' name='description'>
    <meta content='OZ INTERACTIVE' name='author'>
    <link href='images/favicon.png' rel='icon' type='/image/png'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='width=device-width, user-scalable=no' name='viewport'>
    <link href='/css/main.css' rel='stylesheet'>
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  </head>
  <body class='page-home'>
    <section id='preloader'>
      <div class='oz_wrapper'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <br>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
        <img alt='OZ' class='oz' src='/images/oz.svg'>
      </div>
    </section>
    <header class='page-header' id='header'>
      <a href='/index.html'>
        <img alt='OZ INTERACTIVE' id='logo' src='/images/logo.svg'>
      </a>
      <img alt='Меню' id='icon-menu-cross' src='/images/cross.svg'>
      <nav>
        <div class='links-wrapper'>
          <a href='/'>Главная</a>
          <a href='/about.html'>О компании</a>
          <a href='/services.html'>Услуги</a>
          <a href='/cases.html'>Кейсы</a>
          <a href='/wip.html'>Блог</a>
          <a href='/contacts.html'>Контакты</a>
        </div>
      </nav>
      <img alt='Меню' id='icon-menu' src='/images/menu.svg'>
      </img>
    </header>
    <main id='main-content'>
      <div class='block-hero block' id='services-hero'>
        <header>
          <h1>Наши услуги</h1>
        </header>
        <footer>
          <h4>会社 OZ INTERACTIVE<br>向 の プレ ゼ ン テ ー ション</h4>
        </footer>
        <div class='gradient-overlay'></div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='services-hero-video video-bg' loop='loop' muted='muted'>
            <source src='/videos/services-hero-video.mp4'>
          </video>
          <canvas class='services-hero-video-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.services-hero-video',
            canvasSelector: '.services-hero-video-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.services-hero-video-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </div>
      <section class='block' id='our-vision'>
        <header>
          <h2>OZ INTERACTIVE — это не digital production и не рекламное агентство. Мы можем решать задачи в рамках разработки и рекламы, но при этом сфокусированы на трех направлениях деятельности:</h2>
        </header>
        <div class='main-services-wrapper'>
          <figure class='main-service'>
            <img class='main-service-icon' src='images/services/globe.svg'>
            <figcaption>
              <h4>Сложные инновационные<br>проекты</h4>
            </figcaption>
          </figure>
          <figure class='main-service'>
            <img class='main-service-icon' src='images/services/digital.svg'>
            <figcaption>
              <h4>Комплексный digital<br>outsourcing</h4>
            </figcaption>
          </figure>
          <figure class='main-service'>
            <img class='main-service-icon' src='images/services/consulting.svg'>
            <figcaption>
              <h4>Консалтинг и<br>поведенческий маркетинг</h4>
            </figcaption>
          </figure>
        </div>
      </section>
      <section class='block' id='services-list'>
        <header>
          <span>Наши услуги</span>
          <h2>Наши услуги составляют полный набор материалов и решений, необходимых для создания продукта и достижения поставленных целей.</h2>
        </header>
        <div class='services-wrapper'>
          <div class='service'>
            <h4>Стратегия</h4>
            <a href='/wip.html'>Design Research</a>
            <a href='/wip.html'>Concept Development</a>
            <a href='/wip.html'>Brand Strategy</a>
            <a href='/wip.html'>Campaign Strategy</a>
            <a href='/wip.html'>Project Planning</a>
          </div>
          <div class='service'>
            <h4>Креатив</h4>
            <a href='/wip.html'>User Experience</a>
            <a href='/wip.html'>Interaction Design</a>
            <a href='/wip.html'>Art Direction & Design</a>
            <a href='/wip.html'>3D & Motion Graphic</a>
            <a href='/wip.html'>Film & Sound</a>
          </div>
          <div class='service'>
            <h4>Разработка</h4>
            <a href='/wip.html'>Front & Back-end</a>
            <a href='/wip.html'>Мобильная разработка</a>
            <a href='/wip.html'>Администрирование</a>
            <a href='/wip.html'>DevOps</a>
            <a href='/wip.html'>Content Management</a>
          </div>
          <div class='service'>
            <h4>Маркетинг</h4>
            <a href='/wip.html'>Маркетинговые кампании</a>
            <a href='/wip.html'>Social Media Management</a>
            <a href='/wip.html'>Client/Public Relations</a>
            <a href='/wip.html'>Channel-стратегия</a>
            <a href='/wip.html'>SEO-стратегия</a>
          </div>
        </div>
      </section>
      <section class='block' id='our-process'>
        <header>
          <span>Наш процесс</span>
          <h2>Проработанный процесс и гибкая методология развития digital-проектов позволяет запускать по-настоящему успешные решения для бизнеса.</h2>
        </header>
        <div class='process-wrapper'>
          <span class='process-stage'>R&D</span>
          <span class='process-stage'>UX</span>
          <span class='process-stage'>IxD</span>
          <br>
          <span class='process-stage'>Design</span>
          <span class='process-stage'>Front</span>
          <span class='process-stage'>Visual</span>
          <span class='process-stage'>Graphic</span>
          <span class='process-stage'>Motion</span>
          <span class='process-stage'>Concept</span>
          <span class='process-stage'>Script</span>
          <br>
          <span class='process-stage'>Tech</span>
          <span class='process-stage'>Testing</span>
          <span class='process-stage'>Launch</span>
          <span class='process-stage'>Planning</span>
          <span class='process-stage'>Meeting</span>
          <span class='process-stage'>Status</span>
          <span class='process-stage'>Location</span>
          <span class='process-stage'>Casting</span>
          <br>
          <span class='process-stage'>Logic</span>
          <span class='process-stage'>Back</span>
          <span class='process-stage'>Goals</span>
          <span class='process-stage'>Strategy</span>
          <span class='process-stage'>Account</span>
          <span class='process-stage'>Client</span>
          <span class='process-stage'>Stage</span>
          <span class='process-stage'>Project</span>
        </div>
        <div class='video-wrapper'>
          <video autoplay='autoplay' class='services-process-bg video-bg' loop='loop' muted='muted'>
            <source src='/videos/services-process-bg.mp4'>
          </video>
          <canvas class='services-process-bg-canvas'></canvas>
          <script>
            var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);
            if (isIOS) {
            var canvasVideo = new CanvasVideoPlayer({
            videoSelector: '.services-process-bg',
            canvasSelector: '.services-process-bg-canvas',
            timelineSelector: false,
            autoplay: true,
            makeLoop: true,
            pauseOnClick: false,
            audio: false
            });
            } else {
            <!-- / Use HTML5 video -->
            document.querySelectorAll('.services-process-bg-canvas')[0].style.display = 'none';
            }
          </script>
        </div>
      </section>
      <section class='block' id='competetions'>
        <header>
          <span>Основные компетенции</span>
          <h2>Мы стараемся быть экспертами не только digital, но и в специфике рынка на котором работает клиент. Наибольшей компетенции мы достигли в следующих сферах:</h2>
        </header>
        <div class='competences-wrapper'>
          <div class='competence'>
            <h4>Системы лояльности</h4>
            <p>Успешно применяем свой опыт в задачах, связанных с программами лояльности. Умеем удерживать клиентов и продавать больше, применяем клиентоориентированный маркетинг. Создаем экономически оправданные системы на основе digital.</p>
          </div>
          <div class='competence'>
            <h4>Игрофикация</h4>
            <p>Внедряем игровые механики как для аудитории бренда, так и во внутренние бизнес процессы. Знаем как сделать это взаимодействие по-настоящему вовлекающим, а так же эффективным и по KPI.</p>
          </div>
          <div class='competence'>
            <h4>HoReCa</h4>
            <p>Мы много работали со сферой гостеприимства: сети кафе и ресторанов, кальянные, доставка еды, интернет-сервисы для HoReCa. Хорошо знаем специфику рынка и аудиторию.</p>
          </div>
          <div class='competence'>
            <h4>Инновационная реклама</h4>
            <p>Мы постоянно ищем новые варианты взаимодействия пользователя и бренда, которые успешно применяем в нестандартной рекламе, нацеленной на социальность и массовость.</p>
          </div>
          <div class='competence'>
            <h4>Инфраструктурные проекты</h4>
            <p>Финансы — очень сложная сфера. На каждом этапе разработки важно учитывать множество факторов: стандарты безопасности, поведенческие паттерны, хранение и передача данных, шифрование. Работая над финтех проектами мы раскрываем весь потенциал OZ INTERACTIVE.</p>
          </div>
          <div class='competence'>
            <h4>Финтех</h4>
            <p>Нам нравится когда digital взаимодействует с реальной жизнью, поэтому мы стараемся приманять свои возможности в инфраструктурных решениях: интерактивные системы навигации, бронирования, оповещения.</p>
          </div>
        </div>
      </section>
      <section class='block' id='lets-work-together'>
        <header>
          <h2 class='uppercase'>Если у вас есть интересные идеи, будем рады пообщаться!</h2>
        </header>
        <div class='contacts-wrapper'>
          <h4>Всегда на связи:</h4>
          <section class='contacts'>
            <p>Пишите:</p>
            <p>in@oz.digital</p>
          </section>
          <section class='contacts'>
            <p>Звоните:</p>
            <p>8 (812) 913-79-00</p>
          </section>
          <section class='contacts'>
            <p>Приходите:</p>
            <p>8-Я ЛИНИЯ Д. 29 В.О.</p>
          </section>
        </div>
      </section>
      <footer id='footer'>
        <span class='copyright'>
          <p>© 2016 OZ INTERACTIVE. САНКТ-ПЕТЕРБУРГ, 8-Я ЛИНИЯ Д. 29 В.О., ОФИС 51.</p>
        </span>
      </footer>
    </main>
  </body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js'></script>
  <script src='/js/preloader.js'></script>
  <script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>
  <script src='/js/video.js'></script>
  <script src='/js/settings.js'></script>
</html>

app/haml/services.haml
!!!
%html(lang="ru")
  %head
    %meta{:charset => "utf-8"}
    %title OZ INTERACTIVE
    -# Basic Page Needs
    %title OZ INTERACTIVE – исследование, аналитика, проектирование, дизайн и разработка
    %meta{:name => "description", :content => "Digital агентство, состоящие из опытных профессионалов в области разработки и дизайна, специализирующееся на комплексных проектах."}
    %meta{:name => "author", :content => "OZ INTERACTIVE"}
    %link{:rel => "icon", :type => "/image/png", :href => "images/favicon.png"}
    -# Mobile Specific Metas
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    -# CSS
    %link{:rel => "stylesheet", :href => "/css/main.css"}
    <script type="text/javascript" src="//vk.com/js/api/share.js?93" charset="windows-1251"></script>
  %body.page-home
  
    -# Прелоадер
    = Haml::Engine.new(File.read('app/haml/parts/_preloader.haml')).render
    -# Попап: связаться с нами
    -# = Haml::Engine.new(File.read('app/haml/parts/_popup_contact-us.haml')).render
    
    -# Хидер
    = Haml::Engine.new(File.read('app/haml/parts/_header.haml')).render

    -# Основной контент
    %main#main-content
      -# Наши услуги
      #services-hero.block-hero.block
        %header
          %h1 Наши услуги
        %footer
          %h4 会社 OZ INTERACTIVE<br>向 の プレ ゼ ン テ ー ション
        -# Градиент
        .gradient-overlay
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "services-hero-video")
      -# Особенность подхода
      %section#our-vision.block
        %header
          %h2 OZ INTERACTIVE — это не digital production и не рекламное агентство. Мы можем решать задачи в рамках разработки и рекламы, но при этом сфокусированы на трех направлениях деятельности:
        .main-services-wrapper
          %figure.main-service
            %img.main-service-icon{:src => "images/services/globe.svg"}
            %figcaption
              %h4 Сложные инновационные<br>проекты
          %figure.main-service
            %img.main-service-icon{:src => "images/services/digital.svg"}
            %figcaption
              %h4 Комплексный digital<br>outsourcing
          %figure.main-service
            %img.main-service-icon{:src => "images/services/consulting.svg"}
            %figcaption
              %h4 Консалтинг и<br>поведенческий маркетинг
       
      -# Подробный список услуг
      %section#services-list.block
        %header
          %span Наши услуги
          %h2 Наши услуги составляют полный набор материалов и решений, необходимых для создания продукта и достижения поставленных целей. 
        .services-wrapper
          .service
            %h4 Стратегия 
            %a{:href => "/wip.html"} Design Research
            %a{:href => "/wip.html"} Concept Development
            %a{:href => "/wip.html"} Brand Strategy
            %a{:href => "/wip.html"} Campaign Strategy
            %a{:href => "/wip.html"} Project Planning
          .service
            %h4 Креатив
            %a{:href => "/wip.html"} User Experience
            %a{:href => "/wip.html"} Interaction Design
            %a{:href => "/wip.html"} Art Direction & Design
            %a{:href => "/wip.html"} 3D & Motion Graphic
            %a{:href => "/wip.html"} Film & Sound
          .service
            %h4 Разработка
            %a{:href => "/wip.html"} Front & Back-end
            %a{:href => "/wip.html"} Мобильная разработка
            %a{:href => "/wip.html"} Администрирование
            %a{:href => "/wip.html"} DevOps
            %a{:href => "/wip.html"} Content Management
          .service
            %h4 Маркетинг
            %a{:href => "/wip.html"} Маркетинговые кампании
            %a{:href => "/wip.html"} Social Media Management
            %a{:href => "/wip.html"} Client/Public Relations
            %a{:href => "/wip.html"} Channel-стратегия
            %a{:href => "/wip.html"} SEO-стратегия
      
      -# Процесс разработки
      %section#our-process.block
        %header
          %span Наш процесс
          %h2 Проработанный процесс и гибкая методология развития digital-проектов позволяет запускать по-настоящему успешные решения для бизнеса. 
        .process-wrapper
          %span.process-stage R&D
          %span.process-stage UX
          %span.process-stage IxD
          %br
          %span.process-stage Design
          %span.process-stage Front
          %span.process-stage Visual
          %span.process-stage Graphic
          %span.process-stage Motion
          %span.process-stage Concept
          %span.process-stage Script
          %br
          %span.process-stage Tech
          %span.process-stage Testing
          %span.process-stage Launch
          %span.process-stage Planning
          %span.process-stage Meeting
          %span.process-stage Status
          %span.process-stage Location
          %span.process-stage Casting
          %br
          %span.process-stage Logic
          %span.process-stage Back
          %span.process-stage Goals
          %span.process-stage Strategy
          %span.process-stage Account
          %span.process-stage Client
          %span.process-stage Stage
          %span.process-stage Project
        -# Видео на фоне
        = Haml::Engine.new(File.read('app/haml/_ui/_video-background.haml')).render(Object.new, :namevideo => "services-process-bg")

      -# Основные компетенции
      %section#competetions.block
        %header
          %span Основные компетенции
          %h2 Мы стараемся быть экспертами не только digital, но и в специфике рынка на котором работает клиент. Наибольшей компетенции мы достигли в следующих сферах:
        .competences-wrapper
          .competence
            %h4 Системы лояльности
            %p Успешно применяем свой опыт в задачах, связанных с программами лояльности. Умеем удерживать клиентов и продавать больше, применяем клиентоориентированный маркетинг. Создаем экономически оправданные системы на основе digital.
          .competence
            %h4 Игрофикация
            %p Внедряем игровые механики как для аудитории бренда, так и во внутренние бизнес процессы. Знаем как сделать это взаимодействие по-настоящему вовлекающим, а так же эффективным и по KPI.
          .competence
            %h4 HoReCa
            %p Мы много работали со сферой гостеприимства: сети кафе и ресторанов, кальянные, доставка еды, интернет-сервисы для HoReCa. Хорошо знаем специфику рынка и аудиторию.
          .competence
            %h4 Инновационная реклама
            %p Мы постоянно ищем новые варианты взаимодействия пользователя и бренда, которые успешно применяем в нестандартной рекламе, нацеленной на социальность и массовость.
          .competence
            %h4 Инфраструктурные проекты
            %p Финансы — очень сложная сфера. На каждом этапе разработки важно учитывать множество факторов: стандарты безопасности, поведенческие паттерны, хранение и передача данных, шифрование. Работая над финтех проектами мы раскрываем весь потенциал OZ INTERACTIVE.
          .competence
            %h4 Финтех
            %p Нам нравится когда digital взаимодействует с реальной жизнью, поэтому мы стараемся приманять свои возможности в инфраструктурных решениях: интерактивные системы навигации, бронирования, оповещения.

      -# Контакты
      = Haml::Engine.new(File.read('app/haml/parts/_letsworktogether.haml')).render
      
      -# Футер
      = Haml::Engine.new(File.read('app/haml/parts/_footer.haml')).render

  -# Скрипты
  = Haml::Engine.new(File.read('app/haml/parts/_scripts.haml')).render
